<!-- 更换配送员弹框 -->
<!-- 添加用户 -->

<!-- 标准的弹框案例 -->
<style>
    .change {
        width: 80%;
        height: 70%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10px;
    }
</style>

<div class="layui-form " style="height:100%">



    <div class="change layui-form">

    </div>
    <!-- 
                <input type="radio" name="sex" value="男" title="男" checked="">
                <input type="radio" name="sex" value="女" title="女">
                <input type="radio" name="sex" value="女" title="女">
                <input type="radio" name="sex" value="女" title="女">
                <input type="radio" name="sex" value="男" title="男" checked="">
                <input type="radio" name="sex" value="女" title="女">
                <input type="radio" name="sex" value="女" title="女">
                <input type="radio" name="sex" value="女" title="女">
                <input type="radio" name="sex" value="男" title="男" checked="">
                <input type="radio" name="sex" value="女" title="女">
                <input type="radio" name="sex" value="女" title="女">
                <input type="radio" name="sex" value="女" title="女"> -->

    <div class="layui-form-item p-t-10 ft-center">
        <button class="layui-btn" lay-submit id="LAY-add-change">确定</button>
        <button class="layui-btn layui-btn-primary" id="cancel">取消</button>
    </div>


</div>
<script>

    layui.use(['admin', 'form', 'laydate', 'table'], function () {
        var $ = layui.$,
            admin = layui.admin,
            table = layui.table,
            view = layui.view,
            setter = layui.setter,
            form = layui.form,
            laydate = layui.laydate,
            upload = layui.upload;

        admin.req({
            url: setter.baseUrl + '/order/take-out-list?campus_id=' + layui.data('campus_id').id
            , type: 'get'
            // , data: {order_id:1}
            , data: {}
            , done: function (res) {
                // console.log(res);
                var _html = '';
                $.each(res.data, function (i, k) {
                    // console.log(k);
                    if (i == 0) {
                        _html += '<input type="radio" name="courier"  value="' + k.name + '" title="' + k.name + '" checked="">';
                    } else {
                        _html += '<input type="radio" name="courier" value="' + k.name + '" title="' + k.name + '">'
                    }
                });

                $('.change').html(_html);
                // layer.msg(res.message, { icon: 1, time: 2000 });
                form.render();
                // layer.close(index);

            }

        });
        $(document).off('click', '#cancel');
        $(document).on('click', '#cancel', function () {
            layer.closeAll();
        });

        $(document).off('click', '#LAY-add-change');
        $(document).on('click', '#LAY-add-change', function () {
            // 当前选中的name值
            var name_id = $('input[name="courier"]:checked').attr('id');
            admin.req({
                url: setter.baseUrl + '/order/change-take-out'
                , type: 'put'
                , data: { admin_id: name_id }
                // , data: {}
                , done: function (res) {
                    layer.msg(res.message, { icon: 1, time: 2000 });
                    layer.close(index);
                }

            });
        });

    });
</script>