<style>
    .wrapper .layui-input-inline {
        margin-bottom: 12px;
    }
    .wrapper .header {
        padding-left: 10px;
        border-left: 4px solid #06ccc5;
        line-height: 1;
        color: #999;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    .hed {
         padding-left: 10px;
    border-left: 4px solid #06ccc5;
    line-height: 1;
    color: #999;
    margin-bottom: 0px;
    margin-top: 30px;
    }
   

        .btn-bar {
        background: #f7f8fa;
        padding: 4px 10px;
    }
    .active{
        background: #F6F6F6 ;
}
.pay .list-wrapper li {
    padding: 6px;
    line-height: 30px;
}
.check {
    color: #06ccc5
}
.tab_cuisine {
    width: 250px;
}
.check {
    margin-right: 10px;
}
#payList li {
    padding: 6px;
    line-height: 30px;
}
.layui-col-xs.layui-col-xs2.full-height {
    height: 400px;
    /* margin-right: 20px; */
}
/* .layui-col-xs8.layui-col-md8.layui-col-lg9.full-height {
   
    padding-left: 20px;
} */
/* .layui-card .layui-tab {
    height: 200px;
    
} */
.layui-tab-content {
    margin-left: 20px;
}
.cuisine {
    margin-left: -34px;
}
.cuisine_Num {
    margin-top: 1px solid rgba(0,0,0,0)!important;
    padding-left: 10px;
}
.cuisine_Num  div{
    margin-bottom:10px;
    }
em {
    margin:0px 10px;
    font-style: normal
}
.cuisine span {
    margin:0px 40px;
    display:  inline-block;
    margin-top: 15px;
}
/* strong {
    font-weight:normal;
    margin-right: 40px;
} */
.icon {
    color: #ccc;
}
.V_hi {
    overflow: hidden;
}
.layui-tab.layui-tab-card {
    padding: 0px 35px;
}
.layui-tab-bar {
    /* overflow: hidden; */
    visibility: visible;
    right: -40px;
}
.layui-col-xs8.layui-col-md8.layui-col-lg9.full-height.V_hi {
    padding: 0px 35px;
} 
.right {
    right: -35px;
    position: absolute;
    top: 10px;  
}
.left {
    left: -25px;
    position: absolute;
    top: 10px;

}
ul#canteen_int {
    width: 1000%;
} 
.layui-form-item .layui-form-checkbox[lay-skin=primary] {
    margin-top: 0px;
}
/* .layui-form-pane .layui-inpu {
    width: 212px;
} */
.width {
    width: 212px;
}
</style>
<title>创建订单</title>
<div class='wrapper layui-fluid full-height '>
    <div class='layui-card full-height over-auto'>
        <!-- //上面的head，标题 -->
        <div class="layui-card-header">创建订单</div>
        <!-- //content身体部分 -->
        <div class='layui-card-body layui-form '>
            <div class="layui-form layui-form-pane">
                <p class="header">就餐信息</p>
                <div class="layui-inline" pane>
                    <label class="layui-form-label">就餐时间</label>
                    <div class="layui-input-inline width">
                        <!-- <input type="text" class="layui-input time" id="orderListdate" placeholder="请选择就餐时间">
                        <input type="hidden" name="start_time" id="orderListStartTime" value="">
                        <input type="hidden" name="end_time" id="orderListEndTime" value=""> -->
                        <input type="text" name="repast_date" class="layui-input" id="repast_dateId" placeholder="yyyy-MM-dd">
                    </div>
                </div>
                <div class="layui-inline" pane>
                    <label class="layui-form-label">餐饮类型</label>
                    <div class="layui-input-inline">
                        <select name="meal_type" id="">
                            <option value="" disabled selected>请选择就餐类型</option>
                            <option value="2">中餐</option>
                            <option value="3">晚餐</option>
                        </select>
                    </div>
                </div>
                <!-- </div> -->
                <div class="layui-inline " pane>
                    <label class="layui-form-label">签单单位</label>
                    <div class="layui-input-inline  ">
                        <script type="text/html" template lay-url="{{layui.setter.baseUrl}}/system/site/units" lay-done="{{layui.form.render()}}">

                            <select name="sign_unit_id" id="" lay-filter="campus" >
                                <option value="" disabled selected>请选择签单单位</option>
                                {{#
                                layui.each(d.data, function(index, item){
                                }}
                                <option value="{{item.id}}">{{item.name}}</option>
                                {{# }) }}
                            </select>
                        </script>
                    </div>
                </div>
                <div class="layui-inline" pane>
                    <label class="layui-form-label">就餐方式</label>
                    <div class="layui-input-inline">
                        <select name="eat_type" id="" class="eat_type">
                            <option value="" disabled selected>请选择就餐方式</option>
                            <option value="1">外卖</option>
                            <option value="2">堂食</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form layui-form-pane">
                <p class="header">就餐信息</p>
                <div class="layui-inline" pane>
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-inline">
                        <script type="text/html" template lay-url="{{layui.setter.baseUrl}}/order/user" lay-done="{{layui.form.render()}}">
                        <select name="user_id" id="user_id" lay-filter="use_name">
                            <option value="" disabled selected>请选择姓名</option>
                            {{#
                            layui.each(d.data, function(index, item){
                            }}
                            <option value="{{item.id}}">&nbsp; {{item.name}} </option>
                            {{# }) }}
                        </select>

                    </script>
                    </div>
                </div>
                <div class="layui-inline" pane>
                    <label class="layui-form-label">联系方式</label>
                    <div class="layui-input-inline width">

                        <!-- <select name="ser_mobile" id="phon_id" lay-filter="">
                                    <option value="" disabled selected>请选择联系方式</option>
                                   
                                </select> -->


                        <input type="text" name="user_mobile" id="phon_id" class="layui-input" placeholder="请输入联系方式">
                    </div>
                </div>

                <div class="layui-inline" pane>
                    <label class="layui-form-label">楼宇</label>
                    <div class="layui-input-inline ">
                        <script type="text/html" template lay-url="{{layui.setter.baseUrl}}/system/site/buildings"
                            lay-done="{{layui.form.render()}}">

                        <select name="build_id" id="" lay-filter="building">
                                <option value="" disabled selected>请选择楼宇</option>
                                {{#
                                layui.each(d.data, function(index, item){
                                }}
                                <option value="{{item.id}}">{{item.name}}</option>
                                {{# }) }}
                        </select>
                    </script>
                    </div>
                </div>
                <div class="layui-inline" pane>
                    <label class="layui-form-label">楼层</label>
                    <div class="layui-input-inline width">
                        <input type="text" name="floor" class="layui-input" placeholder="请输入楼层">
                    </div>
                </div>
                <div class="layui-input-inline">
                    <label class="layui-form-label">具体位置</label>
                    <div class="layui-input-inline">
                        <script type="text/html" template lay-url="{{layui.setter.baseUrl}}/system/site/areas?withoutPage=1"
                            lay-done="{{layui.form.render()}}">
                        <select name="address" id="">
                            <option value="" disabled selected>请选择位置</option>
                            {{#
                            layui.each(d.data, function(index, item){
                            }}
                            <option value="{{item.id}}">{{item.name}}</option>
                            {{# }) }}
                        </select>
                    </script>
                    </div>
                </div>
            </div>
            <!-- 菜单的左边的导航栏 -->
            <div class="layui-col-xs  layui-col-xs2 full-height">
                <div class='layui-card layui-border-box full-height'>
                    <!-- <div class="layui-card-body layui-form full-height flex flex-v"> -->
                    <!-- //设置-webkit-box-flex: 1;  -->
                    <div class='flex-1 over-auto'>
                        <div class=" full-height">
                            <div class="layui-card layui-border-box full-height">
                                <div class="layui-card-body layui-form full-height flex flex-v">
                                    <div class="flex-1 over-auto">
                                        <script type="text/html" template="" lay-url="{{layui.setter.baseUrl}}/system/site/campuses">
                                                <ul class="list-wrapper" id= 'payList' lay-templateid="payList">
                                                    {{# layui.each(d.data,function(index,item){ }}
                                                        <li class="{{index===0?'active':''}}" data-id="{{ item.id }}">{{ item.name }}</li>
                                                    {{# }) }}
                                                </ul>
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="layui-btn" lay-submit="" id="ensure" lay-filter="ensure">确定</button>
                <button class="layui-btn layui-btn-danger" lay-submit="" lay-filter="cancel">取消</button>
            </div>
            <!-- 右边的导航栏 -->
            <div class='layui-col-xs8 layui-form layui-col-md8 layui-col-lg9 full-height V_hi '>
                <div class=" full-height flex flex-v">
                    <div class="layui-tab  " style="overflow: hidden;">
                        <ul class="layui-tab-title" id="canteen_int"></ul>
                        <svg class="icon left" aria-hidden="true">
                            <use xlink:href="#icon-right"></use>
                        </svg>
                        <svg class="icon right " aria-hidden="true">
                            <use xlink:href="#icon-left"></use>
                        </svg>
                        <div class="layui-tab-content" id="show">
                            <div class="layui-tab-item layui-show layui-form-item">
                                <div class="top layui-inline">

                                </div>
                                <div class="bot">
                                    <div class="cuisine_Num">
                                        <p class="hed">已选菜肴</p>
                                        <div class="cuisine">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <input type="hidden" id= "" class="food"> -->
<script>

    layui.use(['admin', 'form', 'laydate', 'table'], function () {
        var $ = layui.$,
            admin = layui.admin,
            table = layui.table,
            view = layui.view,
            setter = layui.setter,
            form = layui.form,
            laydate = layui.laydate,
            upload = layui.upload;
        $(function () {
            form.render();
            //初始化tab栏
            var active = $('.active').attr('data-id');
            getRead(1,'/order/canteen-list');
            // 点击事件tab通过校区ID切换
            $(document).off('click', '#payList li');
            $(document).on('click', '#payList li ', function () {
                var campusId = $(this).attr('data-id');
                var eat_type = $('.eat_type').val();
                console.log(eat_type);
                getRead(campusId,'/order/canteen-list?eatType='+eat_type);
            });

            laydate.render({
                elem: '#repast_dateId'
            });

            // 食堂的渲染
            function getRead(num,url) {

                       
                    admin.req({
                        url: setter.baseUrl + url,
                        type: 'get',
                        data: { campusId: num },
                        done: function (res) {
                            var _html = '';
                            var _html_two = '';
                            $.each(res.data, function (i, k) {
                                if (i == 0) {
                                    _html += '<li class= "layui-this act" data-id = "' + k.id + ' "> ' + k.name + '</li>';
                                } else {
                                    _html += '<li  data-id = "' + k.id + ' "> ' + k.name + '</li>'
                                }
                            });
                            $.each(res.data, function (i, k) {
                                var _html_one = '';
                                $.each(k.goods, function (i1, k1) {
                                    _html_one += '<div class="layui-input-inline  tab_cuisine">' +
                                        '<input class="check" type="checkbox" name="' + k1.name + '" lay-skin="primary" lay-filter= "primaryTest" data-id = "' + k1.id + '" >' + k1.name + '</div>';
                                });

                                if (i == 0) {
                                    _html_two += '<div id= "' + k.id + '"   class="layui-tab-item layui-show layui-form-item">' +
                                        '<div class="top layui-inline">' + _html_one + '</div><div class="bot"><div class="cuisine_Num"><p id= "data-' + num + '" class="hed">已选菜肴</p><div id= "id-' + k.id + '" class="cuisine"></div></div> </div></div>';
                                } else {
                                    _html_two += '<div id= "' + k.id + '"  class="layui-tab-item layui-form-item"><div class="top layui-inline">' + _html_one + '</div><div class="bot"><div class="cuisine_Num"><p id= "data-' + num + '" class="hed">已选菜肴</p><div id= "id-' + k.id + '"  class="cuisine"></div></div> </div></div>';

                                }
                            })
                            $('#canteen_int').html(_html);
                            $('.layui-tab-content').html(_html_two);
                            form.render();
                        }
                    });
                } 

            laydate.render({
                elem: '#orderListdate',
                type: 'date',
                range: '-',
                done: function (value, date, endDate) {
                    console.log(value);
                    var beginTime = value.split(' - ')[0];
                    var endTime = value.split(' - ')[1];
                    $('#orderListStartTime').val(beginTime);
                    $('#orderListEndTime').val(endTime);
                }
            });
            var cols = [[
                { field: 'user_name', title: '姓名' },
                { field: 'user_mobile', title: '手机号' },
                { field: 'discount_price', title: '金额' },
                {
                    field: 'repast_date', title: '就餐日期', templet: function (d) {
                        if (d.created_at == null) {
                            return ''
                        } else {
                            return d.created_at.split(' ')[0]
                        }
                    }
                },
                { field: 'meal_type_name', title: '就餐餐次' },
                { field: 'eat_type_name', title: '就餐方式' },
                { field: 'campus_name', title: '校区' },
                { field: 'build_name', title: '楼幢' },
                { field: 'canteen_name', title: '食堂' },
                { field: 'pay_type_name', title: '支付方式' },
                { field: 'pay_status_name', title: '支付状态' },
                { field: 'status_name', title: '发货状态' },
                { title: '操作', align: 'center', toolbar: '#toolbar' }
            ]];
            table.render({
                elem: '#orderListTable',
                url: setter.baseUrl + '/order/list',
                response: setter.responseTable,
                page: setter.pageTable,
                loading: false,
                cols: cols
            });
            //点击编辑或取消订单
            // table.on('tool(orderListTable)', function (obj) {
            //     console.log(obj.data.id);
            //     layui.data('orderId', {
            //         key: 'id',
            //         value: obj.data.id
            //     });
            //     var layEvent = obj.event;
            //     if (layEvent === 'detail') {
            //         window.location.hash = '#/order/manage/orderDetail';
            //     } else if (layEvent === 'del') {
            //         layer.confirm('确定要取消订单嘛?', { icon: 1, title: '提示' }, function (index) {
            //             var order_id = obj.data.id;
            //             alert(order_id)
            //             //do something
            //             // alert('确定');
            //             // order/cancel/{order_id}
            //             admin.req({
            //                 url: setter.baseUrl + '/order/cancel/' + order_id  //{order_id}
            //                 , type: 'put'
            //                 // , data: {order_id:1}
            //                 , data: { order_id: order_id }
            //                 , done: function (res) {
            //                     layer.msg(res.message, { icon: 1, time: 2000 });
            //                     layer.close(index);
            //                 }
            //             });
            //         });
            //     }
            // })
            //点击确定事件
            form.on('submit(ensure)', function (obj) {
                var campus_id = $('#payList > .active').attr('data-id');
                var canteen_id = $('#canteen_int > .act').attr('data-id');
                var da = obj.field;
                da.campus_id = campus_id
                da.canteen_id = canteen_id;
                var goods_id = [];
                var goods_ids = {};
                var num = [];
                $('#show .count').each(function () {
                    var id = $(this).find('span').attr('data-id');
                    // alert(id);
                    var num_cu = $(this).find('em').text();
                    goods_id.push(id);
                    num.push(num_cu);
                });

                goods_ids.num = num;
                goods_ids.goods_id = goods_id;

                da.goods_ids = goods_ids;

                console.log(da)

                admin.req({
                    url: setter.baseUrl + '/order/create',
                    type: 'post',
                    data: da,
                    done: function (res) {
                        layer.msg(res.message, { icon: 1, time: 2000 });
                        // layer.close(index);
                        // location.hash = '';
                        form.render();
                    }
                })
            });

            // 获取手机号
            form.on('select(use_name)', function (data) {
                var phon = data.value;
                admin.req({
                    url: setter.baseUrl + '/order/user',
                    type: 'get',
                    data: { id: phon },
                    done: function (res) {
                        $('#phon_id').val(res.data[0].mobile);
                    }
                });
            });
            // list列表的切换
            $(document).on('click', '#payList >li', function () {
                var id = $(this).attr('data-id');
                $(this).addClass('active');
                $(this).siblings('li').removeClass('active');
                table.render(
                    {
                        elem: '#adminlist'
                        // , height: 312
                        , url: setter.baseUrl + '/system/account/role/' + id + '/admins'
                        // ,data:{eat_type:2}
                        , response: setter.responseTable
                        , page: true //开启分页
                        , cols: [[ //表头
                            { field: 'name', title: '姓名' }
                            , { field: 'mobile', title: '手机号' }
                            , { field: 'job_no', title: '工号' }
                            , { field: 'position', title: '岗位' }
                            , { title: '操作', align: 'center', toolbar: '#adminOrder' }
                        ]]
                    }
                );
            });
            // 鼠标右移事件
            $(document).off('click', '.left');
            $(document).on('click', '.left', function () {
                // alert(11);
                var left = $('#canteen_int').position().left;
                // alert(left);
                // var  left;
                left = left - 50;
                $('#canteen_int').css('left', left + 'px');
                // alert(left);
            });
            $(document).off('click', '.right');
            $(document).on('click', '.right', function () {
                var right = $('#canteen_int').position().left;
                // alert(right);
                if (right < 0) {
                    right = right + 50;
                }
                $('#canteen_int').css('left', right + 'px');
            });
            // 添加菜品的数量
            // 1,选中菜品，下面显示菜品
            //监听指定开关
            var nameList = new Array();
            var idList = new Array();

            // 数组去重
            // Array.prototype.distinct = function () {
            //     var arr = this,
            //         i,
            //         j,
            //         len = arr.length;
            //     for (i = 0; i < len; i++) {
            //         for (j = i + 1; j < len; j++) {
            //             if (arr[i] == arr[j]) {
            //                 arr.splice(j, 1);
            //                 len--;
            //                 j--;
            //             }
            //         }
            //     }
            //     return arr;
            // };
            //数组删除特定元素
            Array.prototype.remove = function (val) {
                var index = this.indexOf(val);
                if (index > -1) {
                    this.splice(index, 1);
                }
            };

            form.on('checkbox(primaryTest)', function (obj) {
                // 获取show的ID
                var menu_id = $('#show > .layui-show').attr('id');
                idList.push(obj.elem.dataset.id);
                var id = obj.elem.dataset.id;
                if (this.checked) {
                    _html = '<div class= "count layui-inline "><span data-id= "' + id + '">' + obj.elem.name + '</span><svg class="icon  icon-jianshao" aria-hidden="true">' +
                        '<use xlink:href="#icon-jianshao"></use></svg><em data-id= "id' + id + '">1</em><svg class="g icon-zengjia icon" aria-hidden="true">' +
                        '<use xlink:href="#icon-zengjia"></use></svg></div>'

                    $("#id-" + menu_id).append(_html);
                } else {
                    nameList.remove(obj.elem.name);
                    console.log(nameList);
                    // var _html = '';
                    _html = '<div class= "count layui-inline "><span data-id= "' + id + '">' + obj.elem.name + '</span><svg class="icon icon-jianshao" aria-hidden="true">' +
                        '<use xlink:href="#icon-jianshao"></use></svg><em data-id= "id' + id + '">1</em><svg class="g icon-zengjia icon" aria-hidden="true">' +
                        '<use xlink:href="#icon-zengjia"></use></svg></div>'

                    $("#id-" + menu_id).append(_html);
                }
            });

            // 2，点击菜品的数量，菜品数量增加
            $(document).off('click', '.icon-zengjia');
            $(document).on('click', '.icon-zengjia', function () {
                console.log($(this).prev());
                var num = $(this).prev().text();
                num++;
                console.log(num);
                $(this).prev().text(num);
            });

            $(document).off('click', '.icon-jianshao');
            $(document).on('click', '.icon-jianshao', function () {
                var num = $(this).next().text();
                if (num > 1) {
                    num--;
                }
                console.log(num);
                $(this).next().text(num);
            });
        });
    });
</script>