<style>
    .wrapper {
        overflow: auto;
    }

    .wrapper .header {
        padding-left: 10px;
        border-left: 4px solid #06ccc5;
        line-height: 1;
        color: #999;
    }

    .wrapper .information {
        margin-top: 10px;
        line-height: 2;
        padding-left: 12px;
    }

    .wrapper .information .left_txt {
        width: 120px;
        color: #333;
    }

    .wrapper .Foods {
        padding-top: 10px;
        margin-bottom: 20px;
    }

    .wrapper .layui-form-item {
        margin-top: 10px;
    }

    .wrapper .layui-card-body {
        background-color: #fff;
    }
    .chang {
        color: #FF9800; 
        cursor: pointer;
    }
</style>
<title>详情</title>
<div class='wrapper layui-fluid full-height '>
    <div class='layui-card full-height over-auto'>

        <!-- //上面的head，标题 -->
        <div class="layui-card-header">详情</div>
        <!-- //content身体部分 -->
        <div class='layui-card-body'>
            <!-- //设置-webkit-box-flex: 1; -->
            <script type="text/html" template lay-url="{{layui.setter.baseUrl}}/order/detail/{{layui.data('todayId').id}}"
                id="orderDetail">
                <div class="layui-form-item">
                    <p class="header">基本信息</p>
                    <div class="information layui-clear">
                        <div class="layui-col-md5 pull-left flex">
                            <div class="left_txt">姓名</div>
                            <div class="flex-1">{{d.data.user_name}}</div>
                        </div>
                        <div class="layui-col-md7 pull-left flex">
                            <div class="left_txt">订单号</div>
                            <div class="flex-1">{{d.data.order_sn}}</div>
                        </div>
                        <div class="layui-col-md5 pull-left flex">
                            <div class="left_txt">手机号</div>
                            <div class="flex-1">{{d.data.user_mobile}}</div>
                        </div>
                        <div class="layui-col-md7 pull-left flex">
                            <div class="left_txt">金额</div>
                            <div class="flex-1">￥{{d.data.discount_price}}</div>
                        </div>
                        <div class="layui-col-md5 pull-left flex">
                            <div class="left_txt">校园卡</div>
                            <div class="flex-1">2311</div>
                        </div>
                        <div class="layui-col-md7 pull-left flex">
                            <div class="left_txt">就餐餐次</div>
                            <div class="flex-1">{{d.data.meal_type_name}}</div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item Foods">
                    <p class="header">餐饮信息</p>
                    <div class="information layui-clear">
                        <div class="layui-col-md5 pull-left flex">
                            <div class="left_txt">校区</div>
                            <div class="flex-1 ">{{d.data.campus_name}}</div>
                            <input type= "hidden" class= "campus_id" value= "{{d.data.campus_id}}">
                        </div>
                        <div class="layui-col-md7 pull-left flex">
                            <div class="left_txt">下单日期</div>
                            <div class="flex-1">{{d.data.created_at}}</div>
                        </div>
                        <div class="layui-col-md5 pull-left flex">
                            <div class="left_txt">食堂</div>
                            <div class="flex-1">{{d.data.canteen_name}}</div>
                        </div>
                        <div class="layui-col-md7 pull-left flex">
                            <div class="left_txt">签收人</div>
                            <div class="flex-1">{{d.data.user_name}}</div>
                        </div>
                        <div class="layui-col-md5 pull-left flex">
                            <div class="left_txt">区域</div>
                            <div class="flex-1">{{d.data.area_name}}</div>
                        </div>
                        <div class="layui-col-md7 pull-left flex">
                            <div class="left_txt">签收时间</div>
                            <div class="flex-1">
                                {{#   if(d.data.take_at != "null"){      }}
                                
                                {{d.data.take_at}}
                             {{#    }else { }}   
                                
                             {{""}}
                                  {{# }  }}
                            </div>
                        </div>
                        <div class="layui-col-md5 pull-left flex">
                            <div class="left_txt">地址</div>
                            <div class="flex-1">{{d.data.address}}</div>
                        </div>
                        <div class="layui-col-md7 pull-left flex">
                            <div class="left_txt">外送员</div>
                            <div class="left_txt">{{d.data.rider_name}}</div>
                            <div class= "chang">更换配送员</div>
                        
                            
                        </div>
                        <div class="layui-col-md5 pull-left flex">
                            <div class="left_txt">订单状态</div>
                            <div class="flex-1">{{d.data.status_name}}</div>
                        </div>
                        <div class="layui-col-md7 pull-left flex">
                            <div class="left_txt">外送员联系方式</div>
                            <div class="flex-1">{{d.data.rider_mobile}}</div>
                        </div>
                    </div>
                </div>
            </script>
            <table id="orderDetailTable" lay-filter="orderDetailTable"></table>
            <div class="layui-form-item">
                <button class="layui-btn" lay-submit="" id="back">确定</button>
            </div>

        </div>
    </div>

</div>

<script>
    layui.use(['admin', 'form', 'table'], function () {
        var $ = layui.$,
            admin = layui.admin,
            view = layui.view,
            setter = layui.setter,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate,
            upload = layui.upload;

        $(function () {
            // $('.chang').hide();
            console.log(111);
            var  fale = layui.data('status').statusId;
            console.log(fale);
            if( fale !="生产中"){
                // alert(111);
                $('.chang').hide();
            }
            var cols = [[
                { field: 'goods_name', title: '菜品' },
                { field: 'num', title: '数量' },
                { field: 'price_count', title: '金额' },

            ]];
            table.render({
                elem: '#orderDetailTable',
                url: setter.baseUrl + '/order/carts-detail/' + layui.data('todayId').id,
                response: setter.responseTable,
                page: false,
                loading: false,
                cols: cols
            });

            // 点击跟换配送员
            $(document).off('click', '.chang');
            $(document).on('click', '.chang', function () {
                var campusId = $('.campus_id').val();
                layui.data('campus_id', {
                    key: 'id',
                    value: campusId,
                });
                admin.popupCenter({
                    id: 'LAY_changeCourier',
                    title: '更换配送员',
                    //area:['821px', '522px'],
                    area: ['400px', '300px'],
                    success: function () {
                        view(this.id).render('/order/manage/changeCourier');
                    }
                });
            });




            //点击返回
            $(document).on('click', '#back', function () {
                location.href = "#/order/manage/list";
            });


        });
    });
</script>