<style>
    .wrapper .layui-input-inline {
        margin-bottom: 12px;
    }

    .btn-bar {
        background: #f7f8fa;
        padding: 4px 10px;
    }

    .ml {
        margin-left: 10px;
    }
</style>
<title>今日订单</title>
<div class='wrapper layui-fluid full-height '>
    <div class='layui-card full-height over-auto'>
        <!-- //上面的head，标题 -->
        <div class="layui-card-header">今日订单</div>
        <!-- //content身体部分 -->
        <div class='layui-card-body layui-form'>
            <fieldset class="layui-elem-field">
                <legend>搜索条件</legend>
                <div class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select name="meal_type" id="">
                                    <option value="" disabled selected>请选择就餐餐次</option>
                                    <option value="2">中餐</option>
                                    <option value="3">晚餐</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="repast_way" id="">
                                    <option value="" disabled selected>请选择就餐方式</option>
                                    <option value="1">外卖</option>
                                    <option value="2">堂食</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <script type="text/html" template lay-url="{{layui.setter.baseUrl}}/system/site/campuses"
                                    lay-done="layui.data.done(d)">

                                    <select name="campus_id" id="" lay-filter="campus">
                                        <option value="" disabled selected>请选择校区</option>
                                        {{#
                                        layui.each(d.data, function(index, item){
                                        }}
                                        <option value="{{item.id}}">{{item.name}}</option>
                                        {{# }) }}
                                    </select>
                                </script>
                            </div>
                            <div class="layui-input-inline">
                                <select name="canteen_id" id="canteen_food">
                                    <option value="" disabled selected>请选择食堂</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <script type="text/html" template lay-url="{{layui.setter.baseUrl}}/system/site/areas?withoutPage=1"
                                    lay-done="layui.data.done(d)">

                                    <select name="area_id" id="">
                                        <option value="" disabled selected>请选择区域</option>
                                        {{#
                                        layui.each(d.data, function(index, item){
                                        }}
                                        <option value="{{item.id}}">{{item.name}}</option>
                                        {{# }) }}
                                    </select>
                                </script>
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" name="name_or_mobile" class="layui-input" placeholder="请输入姓名/手机号">
                            </div>
                            <div class="layui-input-inline">
                                <button class="layui-btn" lay-submit lay-filter="search">查询</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <!-- 数据表格上的小按钮 -->
            <div class="layui-form-item btn-bar">
                <!-- <div class="pull-right"> -->
                <button class="layui-btn layui-btn-sm" id="receive-mailbox">接收邮箱</button>
                <button class="layui-btn layui-btn-sm" id="floor-sort">按楼层排序</button>
                <!-- <script type="text/html" template>
                    <a href="{{layui.setter.baseUrl}}/manage/mango-order/exportorder?Authorization={{layui.data('layuiAdmin').Authorization}}"
                       class="layui-btn layui-btn-sm ml">导出</a>
                </script> -->
                <a href="javascript:;" class="layui-btn layui-btn-sm" lay-submit lay-filter="LAY-manage-today-order-export">导出Excel</a>

                <a href="javascript:;" class="layui-btn layui-btn-sm" lay-submit lay-filter="LAY-manage-today-order-print">打印</a>
                <button class="layui-btn layui-btn-sm" id="batch-sign">批量签收</button>
                <!-- </div> -->
            </div>
            <!-- 数据表格 -->
            <table id="todayOrderTable" lay-filter="todayOrderTable"></table>
            <!-- 数据表格右边操作 -->
            <script type="text/html" id="toolbar">
                <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
                
                {{#   if(d.status==1&&d.pay_status ==1&&d.pay_type==1){  }}
                

                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="cancel">取消订单</a>


                {{# }else { }}
                {{#   } }}
            </script>
        </div>
    </div>

</div>

<script>
    layui.data.done = function (d) {
        layui.use(['admin', 'form', 'table', 'laydate'], function () {
            var $ = layui.$,
                admin = layui.admin,
                table = layui.table,
                view = layui.view,
                setter = layui.setter,
                form = layui.form,
                laydate = layui.laydate,
                upload = layui.upload;
            // 批量的函数
            function getMemberId(name) {
                var parameter = [];
                var checkStatus = table.checkStatus('todayOrderTable'), data = checkStatus.data;
                for (var i in data) {
                    parameter.push(data[i][name]);
                }
                return parameter;
            }

            form.render();
            // 数据表单声明
            var cols = [[
                //批量签收
                { type: 'checkbox', fixed: 'left' },
                { field: 'user_name', title: '姓名' },
                { field: 'user_mobile', title: '手机号' },
                { field: 'discount_price', title: '金额' },
                {
                    field: 'repast_date', title: '就餐日期',
                    // templet: function (d) {
                    //     if (d.created_at == null) {
                    //         return ''
                    //     } else {
                    //         return d.created_at.split(' ')[0]
                    //     }
                    // }
                },
                { field: 'meal_type_name', title: '就餐餐次' },
                { field: 'eat_type_name', title: '就餐方式' },
                { field: 'campus_name', title: '校区' },
                { field: 'build_name', title: '楼幢' },
                { field: 'canteen_name', title: '食堂' },
                { field: 'pay_type_name', title: '支付方式' },
                { field: 'pay_status_name', title: '支付状态' },
                { field: 'status_name', title: '发货状态' },
                { title: '操作', align: 'center', toolbar: '#toolbar', width: '10%' }
            ]];
            // 初始化数据表格
            getRtable();

            function getRtable(name) {
                table.render({
                    elem: '#todayOrderTable',
                    url: setter.baseUrl + '/order/today-list',
                    response: setter.responseTable,
                    page: setter.pageTable,
                    loading: false,
                    cols: cols
                });
            }

            //获取食堂
            form.on('select(campus)', function (data) {
                var campusId = data.value;
                admin.req({
                    url: setter.baseUrl + '/system/site/canteens',
                    type: 'get',
                    data: { campusId: campusId },
                    done: function (res) {
                        var _html = '<option value="" disabled selected>请选择食堂</option>';
                        $.each(res.data, function (i, k) {
                            _html += '<option value="' + k.id + '">' + k.name + '</option>'
                        })
                        $('#canteen_food').html(_html)
                        form.render();
                    }
                });
            });
            //点击搜索订单
            form.on('submit(search)', function (obj) {
                console.log(obj);
                table.reload('todayOrderTable', {
                    url: setter.baseUrl + '/order/today-list',
                    where: obj.field
                });
            });
            //点击编辑或取消订单
            table.on('tool(todayOrderTable)', function (obj) {

                // 获取当前订单的发货状态
              
                var layEvent = obj.event;
                if (layEvent === 'detail') {//详情
                    var status = $(this).parent().parent().prev().text();
                    
                // console.log(111);
                // console.log(status);
                    console.log(obj.data);
                    layui.data('todayId', {
                        key: 'id',
                        value: obj.data.id
                    });
                    
                    layui.data('statusId', {
                        key: 'id',
                        value: status
                    });


                    window.location.hash = '#/order/manage/orderDetail';
                } else if (layEvent === 'cancel') {//取消订单
                    layer.confirm('确定要取消订单嘛?', { icon: 1, title: '提示' }, function (index) {
                        var order_id = obj.data.id;
                        admin.req({
                            url: setter.baseUrl + '/order/cancel/' + order_id
                            , type: 'put'
                            , data: { order_id: order_id }
                            , done: function (res) {
                                layer.msg(res.message, { icon: 1, time: 2000 });
                                layer.close(index);
                            }
                        });
                    });
                }
            })
            //数据表单上小按钮事件（）

            // 接收邮箱
            $(document).off('click', '#receive-mailbox');
            $(document).on('click', '#receive-mailbox', function () {
                admin.popupCenter({
                    id: 'LAY-mailbox'
                    , title: '请输入接收订单邮箱：'
                    , area: ['700px', '650px']
                    , success: function () {
                        view(this.id).render('order/manage/mailbox');
                    }
                });
            });


            $(document).off('click', '#floor-sort');
            $(document).on('click', '#floor-sort', function () {
                table.reload('todayOrderTable', {
                    url: setter.baseUrl + '/order/today-list?is_floor=1',
                });
            });
            // 批量签收
            $(document).off('click', '#batch-sign');
            $(document).on('click', '#batch-sign', function () {
                var order_ids = getMemberId('id');
                console.log(order_ids)
                if (order_ids.length > 0) {
                    admin.req({
                        //请求接口
                        url: setter.baseUrl + '/order/batch-sign',
                        type: 'put',
                        data: { order_ids: order_ids },
                        done: function (res) {
                            layer.msg(res.message, { icon: 1, time: 2000 });
                            // layer.close(admin.popup.index);//关闭右侧面板
                            getRtable();
                        }
                    });
                } else {
                    layer.msg('请选择订单', { icon: 5, time: 1000 });
                }
            })


            var len = 0;
            $(document).on('click', '#addMail', function () {
                len = $('.mail').length;
                var _html = '  <div class="layui-inline mail">\n' +
                    '            <label class="layui-form-label left">邮箱账号：</label>\n' +
                    '            <div class="layui-input-inline">\n' +
                    '                <input type="text" name="email" lay-verify="required" autocomplete="off" placeholder="请输入有效邮箱账号"\n' +
                    '                       class="layui-input">\n' +
                    '            </div>\n' +
                    '   <div class="layui-input-inline btn" id="deleteMail">\n' +
                    '    <button class="layui-btn layui-btn-sm">删除邮箱</button>\n' +
                    '    </div>\n' +
                    '    </div>';
                if (len <= 3) {
                    //五个
                    $(this).parents('.layui-form-item').append(_html)
                } else {
                    layer.msg('最多设置五个邮箱地址', { icon: 5, time: 1000 });
                }
            });

            $(document).on('click', '#deleteMail', function () {
                len--;
                $(this).parents('.mail').remove();
            });

            function timeAdd() {
                lay('.datetime').each(function () {
                    var that = $(this)
                    laydate.render({
                        elem: this,
                        type: 'time',
                        done: function (value, date, endDate) {
                            that.attr('data-id', value);
                            form.render()
                        }
                    });
                });
            }

            var time1 = 0;
            var time2 = 0;
            $(document).on('click', '.addTime', function () {
                var time = '', left_txt = '';
                time1 = $('.time1').length;
                time2 = $('.time2').length;
                if ($(this).hasClass('addTime1')) {
                    time = 'time1';
                    left_txt = '非高峰时期：'
                } else {
                    time = 'time2';
                    left_txt = '高峰时期：'
                }

                var _html = '  <div class="layui-inline timeBox ' + time + '">\n' +
                    '        <label class="layui-form-label left">' + left_txt + '</label>\n' +
                    '        <div class="layui-input-inline">\n' +
                    '            <input type="text" data-id=""  name="start_time" class="start_time layui-input datetime" placeholder="HH:mm:ss">\n' +
                    '        </div>\n' +
                    '        <div class="layui-input-inline">\n' +
                    '            <input type="text" data-id="" name="end_time"  class="end_time layui-input datetime" placeholder="HH:mm:ss">\n' +
                    '        </div>\n' +
                    '        <div class="layui-input-inline btn deleteTime">\n' +
                    '            <button class="layui-btn layui-btn-sm">删除</button>\n' +
                    '        </div>\n' +
                    '    </div>'

                if ($(this).hasClass('addTime1')) {
                    if (time1 <= 1) {
                        //五个
                        $(this).parents('.layui-form-item').append(_html);
                        timeAdd()
                    } else {
                        layer.msg('最多设置三个时间段', { icon: 5, time: 1000 });
                    }
                } else {
                    if (time2 <= 1) {
                        //五个
                        $(this).parents('.layui-form-item').append(_html);
                        timeAdd()
                    } else {
                        layer.msg('最多设置三个时间段', { icon: 5, time: 1000 });
                    }
                }
            })

            $(document).on('click', '.deleteTime', function () {
                if ($(this).hasClass('time1')) {
                    time1--;
                } else {
                    time2--;
                }
                $(this).parents('.timeBox').remove();
            });

            form.on('submit(LAY-add-Mail)', function (obj) {
                var email = []
                $('.email .layui-inline').each(function () {
                    var inputVal = $(this).find('input').val()
                    if (!inputVal) {
                        layer.msg('请输入邮箱', { icon: 5, time: 1000 });
                    } else {
                        email.push(inputVal)
                    }
                });
                var peak_send_time = {},
                    peak_start_time_arr = [],
                    peak_end_time_arr = [],
                    common_send_time = {},
                    common_start_time_arr = [],
                    common_end_time_arr = [],
                    flag1 = true,
                    flag2 = true;

                // 非高峰
                $('.peak_send_time .layui-inline').each(function () {
                    var start_time = $(this).find('.start_time').attr('data-id');
                    if (!start_time) {
                        // layer.msg('请选择开始时间', {icon: 5, time: 1000})
                        flag1 = false
                        // return false
                    } else {
                        peak_start_time_arr.push(start_time);
                        flag1 = true
                    }
                    var end_time = $(this).find('.end_time').attr('data-id');
                    if (!end_time) {
                        // layer.msg('请选择开始时间', {icon: 5, time: 1000})
                        flag1 = false
                        // return false
                    } else {
                        peak_end_time_arr.push(end_time);
                        flag1 = true
                    }
                });
                peak_send_time.start_time = peak_start_time_arr;
                peak_send_time.end_time = peak_end_time_arr;
                var peak_interval = $('.peak_interval').val();
                var common_interval = $('.common_interval').val();
                peak_send_time.interval = peak_interval;
                console.log(peak_send_time);

                // 高峰
                $('.common_send_time .layui-inline').each(function () {
                    var start_time = $(this).find('.start_time').attr('data-id');
                    if (!start_time) {
                        flag2 = false
                        /*    layer.msg('请选择开始时间', {icon: 5, time: 1000});
                            return false*/
                    } else {
                        flag2 = true
                        common_start_time_arr.push(start_time);
                    }
                    var end_time = $(this).find('.end_time').attr('data-id');
                    if (!end_time) {
                        flag2 = false
                        /*  layer.msg('请选择开始时间', {icon: 5, time: 1000});
                          return false*/
                    } else {
                        common_end_time_arr.push(end_time);
                        flag2 = true
                    }
                });
                common_send_time.start_time = common_start_time_arr;
                common_send_time.end_time = common_end_time_arr;

                common_send_time.interval = common_interval;
                console.log(common_send_time)
                if (!flag1) {
                    layer.msg('请选择非高峰时间范围', { icon: 5, time: 1000 });
                } else if (!peak_interval) {
                    layer.msg('请输入非高峰期发送频次', { icon: 5, time: 1000 });
                } else if (peak_interval < 30) {
                    layer.msg('非高峰期发送频次不小于30分钟', { icon: 5, time: 1000 });
                } else if (!flag2) {
                    layer.msg('请选择高峰时间范围', { icon: 5, time: 1000 });
                } else if (!common_interval) {
                    layer.msg('请输入高峰期发送频次', { icon: 5, time: 1000 });
                } else if (common_interval < 1) {
                    layer.msg('高峰期发送频次不小于1分钟', { icon: 5, time: 1000 });
                } else {
                    admin.req({
                        url: setter.baseUrl + '/order/add-email',
                        type: 'POST',
                        data: { email: email, peak_send_time: peak_send_time, common_send_time: common_send_time },
                        done: function (res) {
                            layer.msg('保存成功', { icon: 1, time: 1000 }, function () {
                                layer.closeAll();
                            });
                        }
                    });
                }
            });
            $(document).on('click', '#cancel', function () {
                layer.closeAll();
            })





            function deviceExport(filter, url, deviceType) {
                form.on(filter, function (obj) {
                    console.log(obj);
                    var href = setter.baseUrl + url + '?Authorization='
                        + layui.data('layuiAdmin').Authorization + '&meal_type=' + obj.field.meal_type + '&repast_way=' + obj.field.repast_way + '&campus_id=' + obj.field.campus_id + '&canteen_id='
                        + obj.field.canteen_id + '&area_id=' + obj.field.area_id + '&name_or_mobile=' + obj.field.name_or_mobile;
                    window.location.href = href;
                    console.log(href);
                });
            };
            deviceExport('submit(LAY-manage-today-order-export)', '/order/today-export', 3);
            deviceExport('submit(LAY-manage-today-order-print)', '/order/today-print', 3);
        });
    }
</script>