<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/setting/role.css?v={{ layui.admin.v }}-1" media="all">
</script>
<title>角色身份管理</title>
<div class="layui-fluid full-height role">
    <div class="layui-row full-height layui-col-space10">
        <div class="layui-col-xs4 layui-col-md3 layui-col-lg3 full-height">
            <div class="layui-card layui-border-box full-height flex flex-v">
                <div class="layui-card-header">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-bmry"></use>
                    </svg>
                    用户角色
                </div>
                <div class="layui-card-body flex-1 over-auto">
                    <!--<button class="layui-btn layui-btn-fluid layui-btn-primary" id="add_role">添加角色组</button>-->
                    <div class="role-list-wrapper">
                        <ul class="role-list"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs8 layui-col-md9 layui-col-lg9 full-height">
            <div class="layui-card full-height" lay-templateid="module-department">
                <div class="layui-card-body full-height flex flex-v">
                    <div class="rolename"></div>
                    <div class="layui-tab flex-1 flex flex-v over-auto" lay-filter="tabDetail">
                        <ul class="layui-tab-title">
                            <li class="layui-this" lay-id="user">用户列表</li>
                            <li lay-id="module">模块设置</li>
                        </ul>
                        <div class="layui-tab-content layui-border-box flex-1 flex flex-v">
                            <div class="layui-tab-item full-height over-auto layui-show">
                                <fieldset class="layui-elem-field site-demo-button">
                                    <legend>搜索条件</legend>
                                    <div class="layui-form" lay-filter="search-for-examine">
                                        <div class="layui-form-item">
                                            <div class="layui-inline">
                                                <div class="layui-input-inline">
                                                    <input type="text" name="queryString" autocomplete="off"
                                                           placeholder="请输入姓名/手机号/学工号" class="layui-input">
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <button class="layui-btn" lay-submit lay-filter="LAY-search-users">搜索
                                                </button>
                                                <a href="javascript:;" class="layui-btn layui-btn-normal" lay-submit
                                                   lay-filter="LAY-export">导出数据</a>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="flex-1 over-auto">
                                    <div class="m-b-10">
                                        <button class="layui-btn layui-btn-primary"
                                                lay-href="/setting/user/role/department">部门管理
                                        </button>
                                        <button class="layui-btn layui-btn-primary" id="setDept">设置部门</button>
                                        <button class="layui-btn" id="importUser">导入用户</button>
                                        <button class="layui-btn" id="addUser" lay-href="/setting/user/role/addUser">
                                            添加用户
                                        </button>
                                        <button class="layui-btn layui-btn-danger" id="deleteUser">删除用户</button>
                                    </div>
                                    <div class="layui-table" id="users" lay-filter="usersTable"></div>
                                </div>
                            </div>
                            <div class="layui-tab-item full-height over-auto">
                                <div class="layui-clear">
                                    <div class="pull-left">
                                        <div class="mobile relative_" style="padding-bottom: 40px;">
                                            <div class="full-height over-auto">
                                                <div class="header ft-center relative_">
                                                    <img src="/greencampus/style/res/center_top.jpg"/>
                                                    <img class="banner" src="/greencampus/style/res/banner.png"/>
                                                    <div class="notice"></div>
                                                </div>
                                                <div class="content card-box layui-clear" id="myModule">
                                                    <!--<div class="module-item ft-center" data-id="{{item.id}}">
                                                        <p class="layui-icon layui-icon-home"></p>
                                                        <span class="text">净菜订购</span>
                                                        <span class="operation reduce">-</span>
                                                    </div>-->
                                                </div>
                                            </div>

                                            <p class="copyright ft-center">杭州青橄榄网络技术有限公司   技术支持</p>
                                        </div>
                                    </div>
                                    <div class="content-right over-auto">
                                        <div class="title">为该角色添加应用模块，以下为手机端预览界面</div>
                                        <div id="allModule">
                                            <!--<div class="module-title">{{ item.label }}</div>

                                            <div class="content layui-clear">
                                                <div class="module-item ft-center" data-id="{{item.id}}">
                                                    <p class="layui-icon layui-icon-home ft-red"></p>
                                                    <span>净菜订购</span>
                                                    <span class="operation reduce">-</span>
                                                    <span class="operation plus">+</span>
                                                </div>
                                            </div>-->
                                        </div>

                                    </div>
                                </div>

                                <div class="btn-container">
                                    <button class="layui-btn" id="edit_module">修改应用模板</button>
                                    <div class="submit-btn">
                                        <button class="layui-btn" id="add_module">保存修改</button>
                                        <button class="layui-btn layui-btn-primary" id="cancel_add">取消修改</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/html" id="userOption">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>

<script>
    layui.use('setting/role', layui.factory('setting/role'));

</script>