<!-- 员工设置 -->

<!-- 这里是添加员工 -->
<title>添加员工</title>
<div class="layui-fluid full-height">
    <div class="layui-card full-height">
        <div class="layui-card-header">添加员工</div>
        <div class="layui-card-body">
                <div class="content flex-1 flex">
                        <div class="layui-card role flex flex-v">
                                <div class="layui-card-header">角色选择</div>
                                <div class="layui-card-body flex-1 over-auto">
                                    <ul class="lists" id="roleList"><li class="list-item flex flex-align-center active" data-id="42"> <span class="text flex-1">学生</span> <svg class="icon goto" aria-hidden="true"> <use xlink:href="#icon-fh"></use> </svg></li><li class="list-item flex flex-align-center " data-id="43"> <span class="text flex-1">老师</span> <svg class="icon goto" aria-hidden="true"> <use xlink:href="#icon-fh"></use> </svg></li></ul>
                                </div>
                        </div>

                        
                </div> 

        
        </div>
    </div>
</div>

<script type="text/html" id="orderOperate">
    <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="detail">详情</a>
</script>

<script>
    layui.use(['admin', 'form'], function () {
        var $ = layui.$,
            admin = layui.admin,
            view = layui.view,
            setter = layui.setter,
            form = layui.form,
            laydate = layui.laydate,
            upload = layui.upload;

        $(function () {
            //点击返回
            $(document).on('click', '#back', function () {
                admin.closeThisTabs();
            });

        });
    });
</script>