<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/setting/application.css?v={{ layui.admin.v }}-1"
          media="all">
    <link rel="stylesheet" href="{{ layui.setter.base }}style/plugcss/swiper-4.2.0.min.css?v={{ layui.admin.v }}-1"
          media="all">
</script>
<title>应用模块设置</title>
<div class="layui-fluid application full-height">
    <div class="layui-card full-height">
        <div class="layui-card-header">应用模块设置</div>
        <div class="layui-card-body full-height layui-clear parent-content">
            <div class="layui-tab full-height" lay-filter="applicationtTab">
                <ul class="layui-tab-title parent-title">
                    <li class="layui-this">模块名称</li>
                    <li>公告栏</li>
                    <li>宣传位</li>
                </ul>
                <div class="layui-tab-content child-tab-content full-height over-auto">
                    <script type="text/html" id="app_content" template
                            lay-url="{{layui.setter.baseUrl + '/system-set/module'}}">
                        <div class="layui-tab-item layui-border-box layui-show" lay-templateid="app_content">
                            {{# layui.each(d.data, function(index, item){ }}
                            <div class="module-item ft-center">
                                <p class="icon-block {{ item.icon_color }}">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#{{ item.icon }}"></use>
                                    </svg>
                                </p>
                                <span>{{ item.module_alias_name?item.module_alias_name:item.module_name }}</span>
                                <div>
                                    <a href="javascript:;" class="editmodulename"
                                       data-name="{{ item.module_alias_name?item.module_alias_name:item.module_name }}" data-id="{{ item.id }}">
                                        <svg class="icon" aria-hidden="true">
                                            <use xlink:href="#icon-bianji"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            {{# }) }}
                        </div>
                    </script>

                    <script type="text/html" id="notice_content" template
                            lay-url="{{layui.setter.baseUrl + '/system-set/placard?type=1'}}"
                            lay-done="layui.form.render()">
                        <div class="layui-tab-item">
                            <div class="pull-left">
                                <div class="mobile layui-border-box border-b relative_">
                                    <img src="/greencampus/style/res/mobile.jpg"/>
                                    <canvas id="cover_notice" width="375" height="607"></canvas>
                                </div>
                            </div>
                            <div class="content-right over-auto">
                                <div class="layui-form layui-form-pane">
                                    <div class="layui-form-item">
                                        <input type="checkbox" name="status" title="启用（启用后将展示于左侧高亮区域）"
                                               lay-skin="primary" {{ d.data[0].status==1?'checked':''}}>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">标题</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="content" lay-verify="required"
                                                   value="{{ d.data[0].content }}"
                                                   placeholder="请输入标题" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">页面链接</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="url" lay-verify="" placeholder="请输入页面链接地址"
                                                   value="{{ d.data[0].url }}"
                                                   autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item" pane="">
                                        <label class="layui-form-label">更换时间</label>
                                        <div class="layui-input-block">
                                            <input id="now_{{ d.data[0].id }}" type="radio"
                                                   name="type_radio_{{ d.data[0].id }}" value="now" title="立即更换"
                                                   lay-filter="notice_time"
                                                   {{ d.data[0].change_time== null?'checked':'' }}>
                                        </div>
                                        <div class="layui-input-block">
                                            <input id="timeout_{{ d.data[0].id }}" type="radio"
                                                   name="type_radio_{{ d.data[0].id }}" value="timeout"
                                                   title="定时更换" lay-filter="notice_time" {{ d.data[0].change_time?'checked':''
                                            }}>
                                            <div class="layui-inline {{ d.data[0].change_time?'':'hide' }}">
                                                <input id="date_{{ d.data[0].id }}" type="text" name="changeTime"
                                                       value="{{ d.data[0].change_time?d.data[0].change_time:'' }}"
                                                       placeholder="请选择日期" class="layui-input">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="submit-btn">
                                        <button class="layui-btn" lay-submit
                                                lay-filter="LAY-notice-banner{{ d.data[0].id }}"
                                                data-id="{{ d.data[0].id }}">保存
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </script>

                    <script type="text/html" id="banner_content" template
                            lay-url="{{layui.setter.baseUrl + '/system-set/placard?type=2'}}"
                            lay-done="layui.form.render()">
                        <div class="layui-tab-item">
                            <div class="pull-left">
                                <div class="mobile layui-border-box border-b relative_">
                                    <img src="/greencampus/style/res/mobile.jpg"/>
                                    <canvas id="cover_banner" width="375" height="607"></canvas>
                                </div>
                            </div>
                            <div class="content-right over-auto">
                                <div class="layui-tab layui-tab-brief" lay-filter="bannerTab">
                                    <ul class="layui-tab-title">
                                        {{# layui.each(d.data, function(index, item){ }}
                                        <li class="{{ index===0?'layui-this':''}}" lay-id={{ item.id }}>页面{{ index+1
                                            }}
                                        </li>
                                        {{# }) }}
                                    </ul>
                                    <div class="layui-tab-content">
                                        {{# layui.each(d.data, function(index, item){ }}
                                        <div class="layui-tab-item {{index===0?'layui-show':''}}">
                                            <div class="layui-form layui-form-pane">
                                                <div class="layui-form-item">
                                                    <input type="checkbox" name="status" title="启用（启用后将展示于左侧高亮区域）"
                                                           lay-skin="primary" {{ item.status==1?'checked':''}}>
                                                </div>
                                                <div class="layui-form-item" pane="">
                                                    <label class="layui-form-label">上传图片</label>
                                                    <div class="layui-input-block img-content">
                                                        <div class="layui-upload-list">
                                                            <img class="banner_img_{{ item.id }}"
                                                                 src="{{ item.content?item.content:'/greencampus/style/res/banner_default.png' }}">
                                                        </div>
                                                        <div>
                                                            <button class="layui-btn upload_img"
                                                                    data-id="{{ item.id }}">
                                                                上传图片
                                                            </button>
                                                        </div>

                                                        <p>建议图片大小不超过2M</p>
                                                        <input type="hidden" name="content" lay-verify="required"
                                                               value="{{ item.content }}"
                                                               class="layui-input content_{{ item.id }}">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label">页面链接</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" name="url" lay-verify=""
                                                               placeholder="请输入页面链接地址" value="{{ item.url }}"
                                                               autocomplete="off" class="layui-input">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item" pane="">
                                                    <label class="layui-form-label">更换时间</label>
                                                    <div class="layui-input-block">
                                                        <input id="now_{{ item.id }}" type="radio"
                                                               name="type_radio_{{ item.id }}" value="now" title="立即更换"
                                                               {{ item.change_time== null?'checked':'' }}
                                                        lay-filter="notice_time">
                                                    </div>
                                                    <div class="layui-input-block">
                                                        <input id="timeout_{{ item.id }}" type="radio"
                                                               name="type_radio_{{ item.id }}" value="timeout"
                                                               title="定时更换" lay-filter="notice_time" {{
                                                               item.change_time?'checked':'' }}>
                                                        <div class="layui-inline {{ item.change_time?'':'hide' }}">
                                                            <input id="date_{{ item.id }}" type="text" name="changeTime"
                                                                   value="{{ item.change_time?item.change_time:'' }}"
                                                                   placeholder="请选择日期" class="layui-input">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="submit-btn">
                                                    <button class="layui-btn" lay-submit
                                                            lay-filter="LAY-notice-banner{{ item.id }}"
                                                            data-id="{{ item.id }}">保存
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        {{#
                                        })
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    layui.use('setting/application', layui.factory('setting/application'));
</script>