<!-- 添加区域 -->
<!-- 标准的弹框案例 -->
<div class="layui-form centerLayer">
        <div class="layui-form-item">
            <label class="layui-form-label left">区域编号：</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入区域编号" class="layui-input">
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label left">区域名称：</label>
            <div class="layui-input-block">
                <input type="text" name="sort" lay-verify="required" autocomplete="off" placeholder="请输入角色组名称" class="layui-input mobil">
            </div>
        </div>
        
        <div class="layui-form-item">
            <!-- <label class="layui-form-label left">状态：</label> -->
            <div class="layui-input-block" >
                <input type="radio" name="naem" value="袁文静" title="袁文静">
                <input type="radio" name="naem" value="王晨栋" title="王晨栋" checked>
                <input type="radio" name="naem" value="郭国冲" title="启动">
                <input type="radio" name="naem" value="禁用" title="禁用">
            </div>
            <div class="layui-input-block">
                <input type="radio" name="naem" value="启动" title="启动">
                <input type="radio" name="naem" value="禁用" title="禁用">
                <input type="radio" name="naem" value="启动" title="启动">
                <input type="radio" name="naem" value="禁用" title="禁用">
            </div>
        </div>
    
        <div class="layui-form-item p-t-10 ft-center">
            <button class="layui-btn" lay-submit lay-filter="slideshow">确定</button>
            <button class="layui-btn layui-btn-primary" id="cancel">取消</button>
        </div>
    </div>
    
    
    <script>
             layui.use(['admin', 'form', 'table', 'laydate'], function () {
            var $ = layui.$,
                admin = layui.admin,
                view = layui.view,
                setter = layui.setter,
                form = layui.form,
                laydate = layui.laydate,
                table = layui.table,
                upload = layui.upload,
                laydate = layui.laydate;
             });
    </script>
    
    