<!-- 菜单管理 -->

<title>菜单管理</title>
<style>
    .btn-bar {
        background: #f7f8fa;
        padding: 4px 10px;
    }
</style>

<body>
    <!-- 会员列表 -->
    <div class='layui-fluid full-height '>

        <div class='layui-card full-height'>
            <!-- //上面的head，标题  -->
            <div class="layui-card-header">菜单管理</div>
            <!-- //content身体部分  -->
            <div class='layui-card-body flex-1 flex'>
                <!-- //设置-webkit-box-flex: 1;  -->
                <div class='flex-1 over-auto'>
                    <div class="m-b-10 btn-bar">
                        <button class="layui-btn layui-btn-sm layui-btn-right" id="bath-on">批量删除</button>
                        <button class="layui-btn layui-btn-sm layui-btn-danger" id="bath-off">新增</button>
                    </div>
                    <div class="layui-form layui-border-box layui-table-view" lay-filter="LAY-table-9">
                        <div class="layui-table-box">
                            <div class="layui-table-header">

                            </div>
                            <!-- 表格的数据内容 -->
                            <div class="layui-table-body layui-table-main">

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>


    <script>
        layui.use(['admin', 'form'], function () {
            var $ = layui.$,
                admin = layui.admin,
                view = layui.view,
                setter = layui.setter,
                form = layui.form,
                laydate = layui.laydate,
                upload = layui.upload;

            $(function () {
                //点击返回
                $(document).on('click', '#back', function () {
                    admin.closeThisTabs();
                });
            });
        });
    </script>