<title>意见反馈</title>
<div class="layui-fluid layui-border-box full-height">
    <div class="layui-card full-height flex flex-v">
        <div class="layui-card-header">意见反馈</div>
        <div class="layui-card-body layui-clear flex-1 flex flex-v">
            <fieldset class="layui-elem-field site-demo-button">
                <legend>搜索条件</legend>
                <div class="layui-form" lay-filter="search-for-examine">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input id="beginTime" type="text" name="beginTime" value="" placeholder="请选择开始日期" class="layui-input">
                            </div>

                            <div class="layui-input-inline">
                                <input id="endTime" type="text" name="endTime" value="" placeholder="请选择结束日期" class="layui-input">
                            </div>

                            <div class="layui-input-inline">
                                <input type="text" name="queryString" autocomplete="off"
                                       placeholder="请输入账号/姓名搜索" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" lay-submit lay-filter="LAY-search-feedback">搜索</button>
                            <a href="javascript:;" target="_blank" class="layui-btn layui-btn-normal" lay-submit lay-filter="LAY-export-feedback">导出数据</a>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="flex-1 over-auto">
                <div id="feedback_" class="layui-table" lay-filter="feedback_"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="feedback_option">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">详情</a>
</script>
<script type="text/html" id="isReply">
    {{#  if(d.reply_content != ''){ }}
    <span style="color: #0fcfbb;">已回复</span>
    {{#  } else { }}
    <span style="color: #999;">未回复</span>
    {{#  } }}
</script>
<script type="text/html" id="isVisit">
    {{#  if(!d.visit){ }}
    <span class="layui-badge-dot" id="dot-{{d.id}}" style="margin-right:10px;"></span>
    {{#  } }}
</script>

<script>
    layui.use('setting/feedbackmsg', layui.factory('setting/feedbackmsg'));
</script>