<title>系统更新公告</title>
<div class="layui-fluid layui-border-box full-height">
    <div class="layui-card full-height flex flex-v">
        <div class="layui-card-header">系统更新公告</div>
        <div class="layui-card-body layui-clear flex-1 over-auto">
            <div id="upgrade_" class="layui-table" lay-filter="upgrade_"></div>
        </div>
    </div>
</div>
<script type="text/html" id="upgrade_option">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="notice_detail">详情</a>
</script>
<script type="text/html" id="isVisit">
    {{#  if(!d.visit){ }}
    <span class="layui-badge-dot" id="dot-{{d.id}}" style="margin-right:10px;"></span>
    {{#  } }}
</script>
<script>
    layui.use('table', function(){
        var $ = layui.$,
            view = layui.view,
            table = layui.table,
            admin = layui.admin,
            setter = layui.setter;

        $(function(){
            table.render({
                id: 'upgrade_'
                ,elem: '#upgrade_'
                ,url: setter.baseUrl + '/news-center/upgrade' //模拟接口
                ,page: setter.pageTable
                ,cellMinWidth: 100
                ,loading: false
                ,limit: setter.limit
                ,response: setter.responseTable
                ,cols: [[
                    {type: 'numbers',title:'序号',width: 60}
                    ,{width: 16, templet: '#isVisit'}
                    ,{field: 'title', title: '公告标题'}
                    ,{field: 'created_at', title: '时间', width: 240}
                    ,{title: '操作', width: 180, toolbar: '#upgrade_option'}
                ]]
                ,skin: 'line'
            });

            table.on('tool(upgrade_)', function(obj){
                var data = obj.data;
                layui.data('temporary', {
                    key: 'temporary'
                    ,value: {'news_id':data.id, type: 'upgrade'}
                });
                admin.popupCenter({
                    id: 'LAY_adminPopupNewsDetail'
                    , title: '详情'
                    , area: ['430px', '520px']
                    , success: function () {
                        view(this.id).render('setting/message/news/detail');
                    }
                });
            });
        })
    });
</script>