<!-- <style>
    p {
        height: 50px;
        position: absolute;
    }

</style>
<div class="layui-form centerLayer">
        
        <div class="layui-form-item">
            <div class="layui-input">
                <p>当前菜品：鱼香肉丝套餐订单共12份，是否已全部完成？</p>
            </div>
        </div>


        <div class="layui-form-item p-t-10 ft-center">
            <button class="layui-btn" lay-submit lay-filter="LAY-aee-ensure">确定</button>
            <button class="layui-btn layui-btn-primary" id="cancel">取消</button>
        </div>
    </div> -->