<!-- 区域监控 -->

<title>区域监控</title>
<style>
    .btn-bar {
        background: #f7f8fa;
        padding: 4px 10px;
    }
</style>
<div class="layui-fluid full-height">
    <div class="layui-card full-height over-auto">
        <div class="layui-card-header">区域监控</div>
        <div class="layui-card-body">
            <fieldset class="layui-elem-field">
                <legend>搜索条件</legend>
                <div class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <!-- 下拉列表模板渲染  -->
                            <div class="layui-input-inline">
                                <script type="text/html" template lay-url="{{layui.setter.baseUrl}}/system/site/campuses"
                                    lay-done="{{layui.form.render()}}">

                                    <select name="campus_id" id="campus" lay-filter="campus">
                                        <option value="" disabled selected>请选择校区</option>
                                        {{# layui.each(d.data, function(index, item){ }}
                                        <option value="{{item.id}}">{{item.name}}</option>
                                        {{# }); }}
                                    </select>
                                </script>
                            </div>

                            <div class="layui-input-inline">
                                <select name="canteen_id" id="canteen_ea" lay-filter="canteen">
                                    <option value="" disabled selected>请选择食堂</option>
                                </select>
                            </div>

                            <div class="layui-input-inline">
                                <select name="meal_type" id="second" lay-filter="second ">
                                    <!-- <option value="" disabled selected>请选择校区</option> -->
                                    <option value="2" selected>中餐</option>
                                    <option value="3" selected>晚餐</option>
                                </select>
                            </div>

                            <!-- 区域的下拉列表 -->
                            <!-- 下拉列表模板渲染  -->
                            <div class="layui-input-inline">
                                <script type="text/html" template lay-url="{{layui.setter.baseUrl}}/system/site/areas"
                                    lay-done="{{layui.form.render()}}">
                                        <select name="area_id" id="areas" lay-filter="areas">
                                            <option value="" disabled selected>请选择地址区域</option>
                                            {{# layui.each(d.data, function(index, item){ }}
                                            <option value="{{item.id}}">{{item.name}}</option>
                                            {{# }); }}
                                        </select>
                                    </script>
                            </div>
                            <!-- <div class="layui-form-item"> -->
                            <div class="layui-input-inline pull-right">
                                <button class="layui-btn " lay-submit lay-filter="search">查询</button>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </fieldset>


            <!-- <div class="layui-form-item">
                <div class="layui-inline  pull-right"> -->
                    <div class="btn-bar m-b-10 ">
                        <button class="layui-btn layui-btn-sm " id='showTv' lay-filter='showTv'>电视显示</button>
                    </div>
                    
                <!-- </div>
            </div> -->

            <table class="layui-hide" id="monAre" lay-filter="monAre"></table>
            <script type="text/html" id="toolare">
                <a class="layui-btn layui-btn-xs" lay-event="userOk">确定生产</a>
            </script>
        </div>
    </div>
</div>

<script type="text/html" id="orderOperate">
    <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="detail">详情</a>
</script>

<script>
    layui.use(['admin', 'form', 'table', 'laydate'], function () {
        var $ = layui.$,
            admin = layui.admin,
            view = layui.view,
            setter = layui.setter,
            form = layui.form,
            laydate = layui.laydate,
            table = layui.table,
            upload = layui.upload,
            laydate = layui.laydate;

        $(function () {
            getTable();
            function getTable() {

                table.render(
                    {
                        elem: '#monAre'
                        , url: setter.baseUrl + '/monitor/real-monitor-list'
                        , response: setter.responseTable
                        ,totalRow: true
                        , page: setter.pageTable
                        , cols: [[ //表头
                            {
                                field: 'goods_name', title: '菜品',
                            }
                            , { field: 'all_num', title: '订购量' , totalRow: true}
                            , { field: 'no_num', title: '待生产', totalRow: true }
                            , { field: 'yes_num', title: '已生产' }
                            , { field: 'goods_status_name', title: '状态' }
                            , { title: '操作', align: 'center', toolbar: '#toolare' }
                        ]]
                    }
                );
            }


            // 时间控件
            laydate.render({
                elem: '#orderListdate' //指定元素
                , type: 'date'
                , range: '-'
                , done: function (value, date, endDate) {
                    console.log(value);
                    // 获取到的日期格式进行分割2018-10-09 - 2018-11-21
                    var beginTime = value.split(' - ')[0];
                    var endTime = value.split(' - ')[1];
                    $('#orderListStartTime').val(beginTime);
                    $('#orderListEndTime').val(endTime);
                }
                , ready: function (date) {
                    console.log(date); //得到初始的日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                    // alert(date.year);  //获取初始化年
                }


                // 默认的获取时间的函数
                , done: function (value, date, endDate) {
                    console.log(value);
                    var beginTime = value.split(' - ')[0];
                    var endTime = value.split(' - ')[1];
                    $('#orderListStartTime').val(beginTime);
                    $('#orderListEndTime').val(endTime);

                }
            });

            //获取食堂
            form.on('select(campus)', function (data) {
                var campusId = data.value;
                admin.req({
                    url: setter.baseUrl + '/system/site/canteens',
                    type: 'get',
                    data: { campusId: campusId },
                    done: function (res) {
                        console.log('res' + res);
                        var _html = '<option value="" disabled selected>请选择食堂</option>';
                        $.each(res.data, function (i, k) {
                            _html += '<option value="' + k.id + '">' + k.name + '</option>'
                        })
                        $('#canteen_ea').html(_html)
                        form.render();
                    }
                });
            });

            //点击查询按钮
            form.on('submit(search)', function (obj) {
                console.log(obj);
                table.reload('monAre', {
                    url: setter.baseUrl + '/monitor/real-monitor-list',
                    response: setter.responseTable,
                    page: setter.pageTable,
                    cols: [[ //表头
                        {
                            field: 'goods_name', title: '菜品'
                        }
                        , { field: 'all_num', title: '订单量' }
                        , { field: 'no_num', title: '待生产' }
                        , { field: 'yes_num', title: '已生产' }
                        , { field: 'goods_status_name', title: '状态' }
                        , { title: '操作', align: 'center', toolbar: '#toolare' }
                    ]],
                    where: obj.field
                });
            });

            // // 监听工具条的点击事件
            table.on('tool(monAre)', function (obj) {
                var data = obj.data; //获得当前行数据
                console.log(data);
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的DOM对象
                var area_id = data.area_id;
                if (layEvent === 'userOk') { //确定生产
                    var goods_id = data.goods_id;
                    var area_id = $('#areas').find("option:selected").val();

                    admin.req({
                        url: setter.baseUrl + '/monitor/order-and-carts/' + goods_id
                        , type: 'get'
                        , data: { area_id: area_id }
                        , done: function (res) {
                            view('old_mobile')
                            var num = res.carts_count
                            layer.open({
                                content: '当前菜品:套餐订单共' + num + '份，是否已全部完成？'
                                , btn: ['确定', '取消']
                                , yes: function (index, layero) {
                                    // 确定按钮
                                    admin.req({
                                        url: setter.baseUrl + '/monitor/carts-status'
                                        , type: 'put'
                                        , data: { goods_id: goods_id, data: res.data }
                                        , done: function (res) {
                                            view('old_mobile')
                                            layer.msg(res.message, { icon: 1, time: 2000 });
                                            layer.close(admin.popup.index);//关闭右侧面板
                                            getTable();
                                        }
                                    });
                                }
                                , cancel: function () {
                                    //右上角关闭回调
                                    //return false 开启该代码可禁止点击该按钮关闭
                                }
                            });
                            // layer.msg('当前菜品：鱼香肉丝套餐订单共12份，是否已全部完成？', { icon: 1, time: 2000 });
                            layer.close(admin.popup.index);//关闭右侧面板
                            // 这里的全局id和局部id要区分
                            // getTable(id);
                        }
                    });
                }
            });
        });
    });
</script>