<div class="layui-form centerLayer">
    <p>管理密码为管理后台的登录密码，下次登入可以用手机号+密码方式登录。</p>
    <br/>
    <div class="layui-form-item">
        <label class="layui-form-label left">管理密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" lay-verify="password" autocomplete="off" placeholder="请输入管理密码" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label left">确认密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" lay-verify="repassword" autocomplete="off" placeholder="请重新输入密码" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item p-t-10 ft-center">
        <button class="layui-btn" lay-submit lay-filter="LAY-set-password">确定</button>
    </div>
</div>
<script>
    layui.use(['form'], function(){
        var $ = layui.$,
            admin = layui.admin,
            setter = layui.setter,
            form = layui.form;

        var password = '';
        $(function(){
            form.verify({
                password: function(value,item){
                    password = value;
                    if(!/^[\S]{6,12}$/.test(value)){
                        return '密码必须6到12位，且不能出现空格';
                    }
                }
                ,repassword: function(value, item){ //value：表单的值、item：表单的DOM对象
                    if(value != password){
                        return '确认密码与管理密码不符';
                    }
                }
            });

            form.on('submit(LAY-set-password)', function(obj){
                //请求添加部门接口
                admin.req({
                    url: setter.baseUrl + '/auth/first-password'
                    ,type: 'put'
                    ,data: obj.field
                    ,done: function(res){
                        layui.data('password', {
                            key: 'hasPassword'
                            , value: true
                        });
                        layer.msg(res.message, {icon: 1,time: 2000});
                        layer.close(admin.popup.index);//关闭右侧面板
                    }
                });
            });

        })
    })
</script>