<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/setting/pay.css?v={{ layui.admin.v }}-1" media="all">
</script>
<title>支付类型配置</title>
<div class="layui-fluid full-height pay">
    <div class="layui-row full-height layui-col-space10">
        <div class="layui-col-xs4 layui-col-md4 layui-col-lg3 full-height">
            <div class="layui-card layui-border-box full-height">
                <div class="layui-card-body layui-form full-height flex flex-v">
                    <div class="layui-form-item relative_">
                        <label class="layui-icon layui-icon-search icon-search"></label>
                        <input type="text" id="globalKey" name="queryString" autocomplete="off" placeholder="请输入运营商"
                               class="layui-input layui-input-search">
                        <button class="search" lay-submit lay-filter="functionSearch">搜索</button>
                    </div>
                    <div class="flex-1 over-auto">
                        <script type="text/html" template
                                lay-url="{{layui.setter.baseUrl}}/auth/operators"
                                lay-data="{queryString:'{{layui.data('temporary').queryString?layui.data('temporary').queryString:''}}'}"
                                lay-done="{{layui.data('basic_function',{key:'operatorId',value:d.data[0].id});layui.admin.functionTableData()}}"
                                id="payList">
                            <ul class="list-wrapper" lay-templateid="payList">
                                {{# layui.each(d.data,function(index,item){ }}
                                <li class="{{index===0?'active':''}}" data-id="{{ item.id }}">{{ item.name }}</li>
                                {{# }) }}
                            </ul>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs8 layui-col-md8 layui-col-lg9 full-height">
            <div class="layui-card full-height flex flex-v">
                <div class="layui-card-header">支付类型配置</div>
                <div class="layui-card-body flex-1">
                    <div class="layui-table" id="basic_function" lay-filter="basicFunction"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="selected" value="{{d.id}}" lay-skin="switch" lay-text="启用|停用" lay-filter="switch" {{ d.selected ? 'checked' : '' }}>
</script>
<script>
    layui.use(['table', 'form'], function () {
        var $ = layui.$,
            view = layui.view,
            table = layui.table,
            setter = layui.setter,
            admin = layui.admin,
            form = layui.form;

        $(function () {
            form.render();
            admin.functionTableData = function() {
                table.render({
                    id: 'basic_function'
                    , elem: '#basic_function'
                    , url: setter.baseUrl + '/system-set/basic/powers' //模拟接口
                    , page: setter.pageTable
                    , cellMinWidth: 80
                    , loading: false
                    , limit: setter.limit
                    , response: setter.responseTable
                    , cols: [[{field: 'title', title: '类型'}
                        , {field: 'selected', title: '状态',width: 120,templet: '#switchTpl', unresize: true}]]
                    , where: {
                        operatorId: layui.data('basic_function').operatorId
                    }
                    , skin: 'line'
                });
            }
            form.on('submit(functionSearch)', function (obj) {
                layui.data('temporary', {key: 'queryString', value: obj.field.queryString})
                view('payList').refresh();
            })

            $(document).off('click', '.list-wrapper li');
            $(document).on('click', '.list-wrapper li', function () {
                $(this).addClass('active').siblings().removeClass('active');
                layui.data('basic_function',{key:'operatorId',value:$(this).data('id')})
                admin.functionTableData();
            })
            form.on('switch(switch)', function(obj){
                admin.req({
                    url: setter.baseUrl + '/system-set/basic/power/switch'
                    , type: 'put'
                    , data: {
                        operatorId: layui.data('basic_function').operatorId,
                        id: this.value
                    }
                    , done: function (res) {
                        layer.msg(res.message, {icon: 1, time: 1000});
                    }
                });
            });
        })
    });
</script>