<!--
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/setting/pay.css?v={{ layui.admin.v }}-1" media="all">
</script>
<title>支付方式配置</title>
<div class="layui-fluid full-height pay">
    <div class="layui-row full-height layui-col-space10">
        <div class="layui-col-xs4 layui-col-md4 layui-col-lg3 full-height">
            <div class="layui-card layui-border-box full-height">
                <div class="layui-card-body layui-form full-height flex flex-v">
                    <div class="layui-form-item relative_">
                        <label class="layui-icon layui-icon-search icon-search"></label>
                        <input type="text" id="globalKey" name="queryString" autocomplete="off" placeholder="请输入运营商"
                               class="layui-input layui-input-search">
                        <button class="search" lay-submit lay-filter="paySearch">搜索</button>
                    </div>
                    <div class="flex-1 over-auto">
                        <script type="text/html" template
                                lay-url="{{layui.setter.baseUrl}}/auth/operators"
                                lay-data="{queryString:'{{layui.data('temporary').queryString?layui.data('temporary').queryString:''}}'}"
                                lay-done="{{layui.form.render()}}" id="payList">
                            <ul class="list-wrapper" lay-templateid="payList">
                                {{# layui.each(d.data,function(index,item){ }}
                                <li class="{{index===0?'active':''}}" data-id="{{ item.id }}">{{ item.name }}</li>
                                {{# }) }}
                            </ul>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs8 layui-col-md8 layui-col-lg9 full-height">
            <div class="layui-card full-height flex flex-v">
                <div class="layui-card-header">支付方式配置</div>
                <div class="layui-card-body flex-1">
                    <div class="layui-row layui-col-space15 layui-form">
                        <div class="layui-col-xs3">
                            <div class="way-card flex flex-v flex-pack-center flex-align-center">
                                <svg class="icon ft-green m-b-5" aria-hidden="true">
                                    <use xlink:href="#icon-wxzhifu"></use>
                                </svg>
                                <p>微信支付</p>
                                <input type="checkbox" name="" lay-skin="primary" checked/>
                            </div>
                        </div>
                        <div class="layui-col-xs3">
                            <div class="way-card flex flex-v flex-pack-center flex-align-center">
                                <svg class="icon ft-blue m-b-5" aria-hidden="true">
                                    <use xlink:href="#icon-zhfbzhf"></use>
                                </svg>
                                <p>支付宝支付</p>
                                <input type="checkbox" name="" lay-skin="primary" checked/>
                            </div>
                        </div>
                        <div class="layui-col-xs3">
                            <div class="way-card flex flex-v flex-pack-center flex-align-center">
                                <svg class="icon ft-purple m-b-5" aria-hidden="true">
                                    <use xlink:href="#icon-ylkzhf"></use>
                                </svg>
                                <p>银联卡支付</p>
                                <input type="checkbox" name="" lay-skin="primary" checked/>
                            </div>
                        </div>
                        <div class="layui-col-xs3">
                            <div class="way-card flex flex-v flex-pack-center flex-align-center">
                                <svg class="icon ft-orange m-b-5" aria-hidden="true">
                                    <use xlink:href="#icon-htyktzhf"></use>
                                </svg>
                                <p>一卡通支付</p>
                                <input type="checkbox" name="" lay-skin="primary" checked/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    layui.use(['table', 'form'], function () {
        var $ = layui.$,
            view = layui.view,
            table = layui.table,
            setter = layui.setter,
            form = layui.form,
            admin = layui.admin;

        $(function () {
            form.render();

            form.on('submit(paySearch)', function (obj) {
                console.log(313)
                layui.data('temporary', {key: 'queryString', value: obj.field.queryString})
                view('payList').refresh();
            })
        })
    });
</script>
-->
