<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/setting/fodder.css?v={{ layui.admin.v }}-1" media="all">
    <link rel="stylesheet" href="{{ layui.setter.base }}style/plugcss/zTreeStyle.css?v={{ layui.admin.v }}-1" media="all">
</script>
<title>素材配置</title>
<div class="layui-fluid layui-border-box full-height wechat">
    <div class="layui-card full-height flex flex-v">
        <div class="layui-card-header">微信端配置</div>
        <div class="layui-card-body layui-clear flex-1 flex flex-v">
            <fieldset class="layui-elem-field site-demo-button">
                <legend>搜索条件</legend>
                <div class="layui-form" lay-filter="search-for-examine">
                    <div class="layui-form-item">
                        <div class="layui-inline search_box">
                            <div class="layui-input-inline">
                                <input id="banner_title" type="text" name="banner_title" value="" placeholder="请输入标题" class="layui-input">
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn" id="search" lay-submit lay-filter="LAY-search-feedback">查询</button>
                                <a href="javascript:;" id="add" target="_blank" class="layui-btn layui-btn-primary layui-bg-red" lay-submit lay-filter="LAY-export-feedback">新增</a>
                                <a href="javascript:;" id="import" target="_blank" class="layui-btn layui-btn-primary layui-bg-gray" lay-submit lay-filter="LAY-export-feedback">导入</a>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="layui-form layui-border-box layui-table-view" lay-filter="LAY-table-15" style=" ">
                <div class="layui-table-box">
                    <div class="layui-table-body layui-table-main">
                        <table id="fodder_list" class="layui-table" lay-filter="fodder_list" lay-skin="line"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="fodder_option">
    <a data-id="{{d.id}}" class="layui-btn layui-btn-xs " lay-event="edit">修改</a>
    <a data-id="{{d.id}}" class="layui-btn layui-btn-primary layui-btn-xs" lay-event="banner">banner管理</a>
</script>
<script>
    layui.use('setting/fodder', layui.factory('setting/fodder'));
</script>