.index .main-card {
  padding: 30px 20px;
}
.index .main-card .btn-group {
  font-size: 0;
}
.index .main-card .btn-group .layui-btn,
.index .main-card .btn-group .layui-input {
  font-size: 14px;
  margin-left: -1px;
  border-radius: 0;
}
.index .main-card .btn-group .layui-btn:hover,
.index .main-card .btn-group .layui-input:hover {
  background: #F7F8FA;
}
.index .main-card .btn-group .layui-btn:first-child,
.index .main-card .btn-group .layui-input:first-child {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.index .main-card .btn-group .layui-btn:last-child,
.index .main-card .btn-group .layui-input:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.index .main-card .btn-group .actived,
.index .main-card .btn-group .actived input {
  background: #F7F8FA;
}
.index .main-card .btn-group .actived.layui-input-inline {
  background: transparent;
}
.index .main-card .btn-group .time-button input {
  width: 240px;
}
.index .main-card .btn-group .layui-input-inline {
  position: relative;
}
.index .main-card .btn-group .layui-input-inline .layui-input {
  padding-left: 30px;
  border: 1px solid #c9c9c9;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.index .main-card .btn-group .layui-input-inline .layui-input::placeholder {
  color: #666;
}
.index .main-card .btn-group .layui-input-inline .calendar {
  position: absolute;
  left: 10px;
  top: 10px;
}
.index .chart-box .layui-card {
  padding: 20px 15px;
  border: 1px solid #e6e6e6;
}
.index .chart-box .small-panel {
  height: 200px;
  line-height: 2;
}
.index .chart-box .small-panel .ft-26 {
  font-size: 26px;
}
.index .chart-box .small-panel .icon {
  width: 40px;
  height: 40px;
}
.index .chart-box .height400 {
  height: 400px;
}
.index .chart-box .amount {
  margin-top: 10px;
  line-height: 58px;
  font-size: 36px;
}
.index .chart-box .amount span {
  font-size: 14px;
  line-height: 58px;
}
.index .chart-box .layui-input,
.index .chart-box .layui-select,
.index .chart-box .layui-textarea {
  height: 30px;
}
.index .chart-box .layui-form-pane .layui-form-label {
  width: 90px;
}
.index .chart-box .layui-form-pane .layui-input-block {
  margin-left: 90px;
}
.index .inline-card {
  margin-top: 15px;
  border: 1px solid #e6e6e6;
}
.index .inline-card .layui-card-header {
  padding: 15px 10px;
}
.index .inline-card .layui-card-header {
  border-bottom: 1px solid #e6e6e6;
}
.index .inline-card .border-right {
  border-right: 1px solid #e6e6e6;
}
.index .link {
  color: #06CCC5;
  padding-left: 10px;
}
.index .small-input {
  width: 120px;
}
.index .small-input .layui-input {
  height: 30px;
  line-height: 30px;
}
.index .layui-form-pane .layui-form-item {
  margin: 0;
  border-radius: 2px;
  overflow: hidden;
}
.index .layui-form-pane .layui-form-item .layui-form-checkbox[lay-skin=primary] {
  margin-top: 7px;
}
.index .layui-form-pane .layui-form-label {
  width: 60px;
  height: 30px;
  padding: 5px 15px;
}
.index .layui-form-pane .layui-input-block {
  min-height: 30px;
  margin-left: 60px;
}
.index .filter {
  width: 400px;
  height: 300px;
  padding: 15px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  z-index: 100;
  position: absolute;
  top: 36px;
  right: 0;
}
.index .filter .layui-input-block {
  margin-left: 0;
}
.index .filter .layui-input-block .layui-input {
  border-radius: 4px;
  padding-left: 30px;
}
.index .filter .layui-input-block .layui-input:hover {
  background: #fff;
}
.index .filter .layui-input-block .search {
  position: absolute;
  left: 10px;
  top: 12px;
}
.index .filter .btn-box {
  width: 25%;
  padding: 5px 4px;
  float: left;
}
.index .filter .btn-box:nth-child(4n+1) {
  padding-left: 0;
  padding-right: 8px;
}
.index .filter .btn-box:nth-child(4n) {
  padding-left: 8px;
  padding-right: 0;
}
.index .filter .btn-box .layui-btn {
  width: 100%;
}
.index .filter .flex-1 {
  overflow: auto;
}
.index .p-r-8 {
  padding-right: 8px;
}
.index .p-l-8 {
  padding-left: 8px;
}
.index .p-r-6 {
  padding-right: 6px;
}
.index .p-l-6 {
  padding-left: 6px;
}
.index .p-r-4 {
  padding-right: 4px;
}
.index .p-l-4 {
  padding-left: 4px;
}
