<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/index.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-fluid index">
    <div class="layui-row full-height">
        <div class="layui-card main-card full-height">
            <div class="layui-clear flex">
                <div class="btn-group layui-form flex-1">
                    <button class="layui-btn layui-btn-primary">今天</button>
                    <button class="layui-btn layui-btn-primary">昨天</button>
                    <button class="layui-btn layui-btn-primary">最近7天</button>
                    <button class="layui-btn layui-btn-primary">最近30天</button>
                    <div class="layui-input-inline">
                        <svg class="icon calendar" aria-hidden="true">
                            <use xlink:href="#icon-rqshj"></use>
                        </svg>
                        <input type="text" name="" autocomplete="off" placeholder="请选择时间段" class="layui-input actived">
                    </div>
                </div>
                <div class="btn-group layui-form">
                    <button class="layui-btn layui-btn-primary">
                        <svg class="icon calendar" aria-hidden="true">
                            <use xlink:href="#icon-rqshj"></use>
                        </svg>
                        问题反馈
                    </button>
                    <button class="layui-btn layui-btn-primary">
                        <svg class="icon calendar" aria-hidden="true">
                            <use xlink:href="#icon-baobiaotongji"></use>
                        </svg>
                        图表下载
                    </button>
                    <button class="layui-btn layui-btn-primary">
                        <svg class="icon calendar" aria-hidden="true">
                            <use xlink:href="#icon-quanping"></use>
                        </svg>
                        全屏显示
                    </button>
                </div>
            </div>
            <div class="layui-clear layui-border-box chart-box">
                <div class="layui-col-xs4 p-r-8">
                    <div class="layui-card flex flex-v height300">
                        <div class="flex flex-1 flex-v">
                            <p>累计用户关注数</p>
                            <p class="amount">123456789人<span class="pull-right text-red">+24.98%</span></p>
                        </div>
                        <div class="flex flex-1 flex-v">
                            <p>累计用户关注数</p>
                            <p class="amount">123456789人<span class="pull-right text-green">-24.98%</span></p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs4 p-l-4 p-r-4">
                    <div class="layui-card flex flex-v height300">
                        <p>注册用户画像</p>
                        <div class="echarts_elem"></div>
                    </div>
                </div>
                <div class="layui-col-xs4 p-l-8">
                    <div class="layui-card flex flex-v height300">
                        <div class="layui-form flex flex-align-center">
                            <p class="flex-1">各类支付方式对比</p>
                            <div class="layui-input-inline small-input">
                                <select class="department" name="departmentId" lay-filter="department" lay-search>
                                    <option value="">请选择类型</option>
                                    <option value="1">订单数量</option>
                                    <option value="2">订单笔数</option>
                                </select>
                            </div>
                        </div>
                        <div class="echarts_elem"></div>
                    </div>
                </div>
            </div>
            <div class="layui-clear layui-border-box chart-box">
                <div class="layui-col-xs6 p-r-6">
                    <div class="layui-card flex flex-v height400">
                        <div class="flex flex-align-center m-b-10">
                            <p class="flex-1">平台整体订单变化趋势图<a href="#" class="link">详情>></a></p>
                            <div class="btn-group layui-form">
                                <button class="layui-btn layui-btn-sm layui-btn-primary">
                                    <svg class="icon calendar" aria-hidden="true">
                                        <use xlink:href="#icon-shaixuan"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="layui-form flex flex-align-center m-b-10">
                            <div class="flex-1">
                                <div class="layui-input-inline small-input">
                                    <select class="department" name="departmentId" lay-filter="department" lay-search>
                                        <option value="">请选择类型</option>
                                        <option value="1">订单数量</option>
                                        <option value="2">订单笔数</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-pane">
                                <div class="layui-form-item" pane>
                                    <label class="layui-form-label">对比</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="" lay-skin="primary" title="前一日">
                                        <input type="checkbox" name="" lay-skin="primary" title="上周同期">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="echarts_elem flex-1"></div>
                    </div>
                </div>
                <div class="layui-col-xs6 p-l-6">
                    <div class="layui-card flex flex-v height400">
                        <div class="flex flex-align-center m-b-10">
                            <p class="flex-1">各模块使用情况对比图<a href="#" class="link">详情>></a></p>
                            <div class="btn-group layui-form relative_">
                                <button class="layui-btn layui-btn-sm layui-btn-primary">
                                    <svg class="icon calendar" aria-hidden="true">
                                        <use xlink:href="#icon-shaixuan"></use>
                                    </svg>
                                </button>
                                <div class="filter layui-form flex flex-v">
                                    <div class="layui-input-block m-b-10">
                                        <svg class="icon search" aria-hidden="true">
                                            <use xlink:href="#icon-sousuo1"></use>
                                        </svg>
                                        <input type="text" name="" autocomplete="off" placeholder="请输入关键字" class="layui-input">
                                    </div>
                                    <div class="flex-1 layui-border-box">
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                        <p class="btn-box"><button class="layui-btn layui-btn-sm layui-btn-primary">智能用电</button></p>
                                    </div>
                                </div>
                                <button class="layui-btn layui-btn-sm layui-btn-primary">
                                    <svg class="icon calendar" aria-hidden="true">
                                        <use xlink:href="#icon-paixu01"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="layui-form flex flex-align-center">
                            <div class="flex-1">
                                <div class="layui-input-inline small-input">
                                    <select class="department" name="departmentId" lay-filter="department" lay-search>
                                        <option value="">请选择类型</option>
                                        <option value="1">订单数量</option>
                                        <option value="2">订单笔数</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="echarts_elem flex-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    layui.use('home', layui.factory('home'));
</script>

