<style>
    .bag {
    background-color: #14DDD6;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;;
    }
    .bmry {
        width: 40px;
    height: 40px;
        color: #fff;
        display: inline-block;
        font-size: 80px;
    }
    .indent {
        font-size: 40px;
        padding-top: 10px;
        display: inline-block;
    }
    .algin-center {
        margin: 30px 85px 60px 52px;
    }
    .main {
        padding: 30px 50px;
    }
    .bot-margin {
        margin-top: 5px;
        margin-bottom: 130px;
    }
    </style>

<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/index.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-fluid index">
    <div class="layui-row full-height">
        <div class="layui-card main full-height">

            <div class="layui-clear layui-border-box chart-box">
                <div class="layui-col-xs6 p-r-6">
                    <div class="layui-card flex flex-v height300">
                        <div class="flex flex-align-center m-b-10">
                            <p class="flex-1">平台整体订单变化趋势图</p>
                        </div>
                        <!-- <script type="text/html" template lay-url="{{layui.setter.baseUrl}}/graph/count/order"> -->
                        <div class="flex-pack-justify flex algin-center ">
                            <div class="bag">
                                <svg class="icon bmry ft-deepblue" aria-hidden="true">
                                    <use xlink:href="#icon-bmry"></use>
                                </svg>
                            </div>
                            <div class="">
                                <p class="ft-26">今日订单笔数</p>
                                <span class="indent taodyB"></span>
                            </div>
                        </div>
                        <div class="flex-pack-justify flex algin-center ">
                            <div class="bag">
                                <svg class="icon bmry ft-deepblue" aria-hidden="true">
                                    <use xlink:href="#icon-cwshf"></use>
                                </svg>
                            </div>
                            <div class="">
                                <p class="ft-26">今日订单金额</p>
                                <span class="indent taodayY"></span>
                            </div>
                        </div>
                        <!-- </script> -->
                    </div>
                </div>
                <div class="layui-col-xs6 p-l-6">
                    <div class="layui-card flex flex-v height300">
                        <div class="flex flex-align-center m-b-10">
                            <p class="flex-1">总共下单笔数</p>
                        </div>
                        <!-- <script type="text/html" template lay-url="{{layui.setter.baseUrl}}/graph/count/order-amount"> -->
                        <div class="flex-pack-justify flex algin-center ">
                            <div class="bag">
                                <svg class="icon bmry ft-deepblue" aria-hidden="true">
                                    <use xlink:href="#icon-bmry"></use>
                                </svg>
                            </div>
                            <div class="">
                                <p class="ft-26">总共下单笔数</p>
                                <span class="indent orderB"></span>
                            </div>
                        </div>
                        <div class="flex-pack-justify flex algin-center ">
                            <div class="bag">
                                <svg class="icon bmry ft-deepblue" aria-hidden="true">
                                    <use xlink:href="#icon-cwshf"></use>
                                </svg>
                            </div>
                            <div class="">
                                <p class="ft-26">总共下单金额</p>
                                <span class="indent orderY"></span>
                            </div>
                        </div>
                        <!-- </script> -->
                    </div>
                </div>
            </div>

            <div class="layui-clear layui-border-box chart-box bot-margin">
                <div class="layui-col-xs6 p-r-6">
                    <div class="layui-card flex flex-v height400">
                        <div class="flex flex-align-center m-b-10">
                            <p class="flex-1">近7天订单数据</p>
                        </div>
                        <div class="echarts_elem flex-1 full-height"></div>
                        <div class="echarts_empty ft-gray"></div>
                    </div>
                </div>
                <!-- <div class="layui-col-xs6 p-l-6">
                    <div class="layui-card flex flex-v height400">
                        <div class="flex flex-align-center m-b-10">
                            <p class="flex-1">近7天订单数据</p>
                        </div>
                        <div class="echarts_elem flex-1 full-height"></div>
                        <div class="echarts_empty ft-gray"></div> -->
                <!-- </div>
                </div> -->
            </div>

        </div>
    </div>
</div>


<script>
    layui.use(['admin', 'form', 'table', 'laydate'], function () {
        var $ = layui.$,
            admin = layui.admin,
            table = layui.table,
            view = layui.view,
            setter = layui.setter,
            form = layui.form,
            laydate = layui.laydate,
            upload = layui.upload;
        layui.use('home', layui.factory('home'));
        $(function () {

            admin.req({
                url: setter.baseUrl + '/graph/count/order',
                type: 'get',
                data: {},
                done: function (res) {
                    $('.taodyB').text(res.data.todayOrder + '笔');
                    $('.orderB').text(res.data.totalOrder + '笔');
                }
            });

            admin.req({
                url: setter.baseUrl + '/graph/count/order-amount',
                type: 'get',
                data: {},
                done: function (res) {
                    $('.taodayY').text(res.data.todayOrderAmount + '元');
                    $('.orderY').text(res.data.totalOrderAmount + '元');
                }
            });
        });
    });
</script>