html,body,#LAY_app{
  height:100%;
}
.index{
  width: 100%;
  min-height: 100%;
  padding: 50px 0 130px;
  background: url("../res/bg-index.png") no-repeat;
  background-position: center;
  background-size: auto 100%;
  position: relative;
  left: 0;
  top: 0;
}
.index header{
  width: 100%;
  z-index: 100;
  height: 60px;
  line-height: 60px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
.index .layui-main{
  padding: 0 15px;
}
.index header .logo img{
  height: 32px;
}
.index footer{
  width: 100%;
  background: #fff;
  padding: 15px 0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.index footer .copyright{
  height: 100px;
  padding: 10px 0;
  line-height: 19px;
  vertical-align: middle;
}
.index footer .copyright p:first-child{
  padding-bottom: 4px;
}
.index footer .qrcode{
  color: #000322;
  float: right;
  width: 100px;
  height: 100px;
  text-align: center;
}
.index footer .qrcode img{
  width: 80px;
  height: 80px;
}
.index-body{
  height: 400px;
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: -70px;
  right: 0;
  bottom: 0;
  left: 0;
}
.login_centent{
  width: 356px;
  height: 400px;
  opacity: 0.98;
  border-radius: 5px;
  background: #f9f9f9;
  border: 1px solid #e8e8e8;
}
.login_centent .layui-tab-content{
  padding: 40px 20px;
}
.index .layui-tab{
  margin: 0;
}
.index .layui-tab .layui-tab-title{
  height: 60px;
}
.index .layui-tab-title li{
  width: 50%;
  font-size: 18px;
  line-height: 60px;
}
.index .layui-tab-title .one-tab{
  width: 100%;
}
.index .layui-tab-brief>.layui-tab-title .layui-this {
  color: #0fcfbb;
}
.index .layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{
  height: 60px;
  border-bottom: 4px solid #0fcfbb;
}
.index .layui-input, .index .layui-select, .index .layui-textarea, .index .layui-btn{
  height: 50px;
}
.index .layui-btn{
  font-size: 16px;
  background: #0fcfbb;
}
.index .body-left{
  color: #fff;
  height: 400px;
  font-size: 34px;
  padding-top: 68px;
  text-align: center;
  text-shadow: 0 1px #121212;
}
.index .verify{
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.index .get-verify{
  float: left;
  color: #0fcfbb;
  line-height: 50px;
  padding-left: 0;
  border-left: none;
  text-align: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.index .disabled{
  color: #999;
}
.index .layui-input:focus, .layui-textarea:focus,.layui-input:hover, .layui-textarea:hover{
  border-color: #e6e6e6!important;
}
.index .forget{
  color: #0fcfbb;
}
.index .logo{
  width: 142px;
}
.index .double-btn .layui-btn{
  width: 48%;
}
.index .double-btn .layui-btn-primary{
  background-color: #fff;
  line-height: 50px;
}