<title>会员列表</title>
<div class="layui-fluid full-height role">
    <div class="layui-row full-height">
        <div class="layui-card layui-border-box full-height flex flex-v">
            <div class="layui-card-header">会员列表</div>
            <div class="layui-card-body flex flex-v flex-1">
                <fieldset class="layui-elem-field site-demo-button">
                    <legend>搜索条件</legend>
                    <div class="layui-form">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <script type="text/html" template
                                            lay-url="{{layui.setter.baseUrl}}/auth/operators"
                                            lay-done="{{layui.form.render()}}">
                                        <select class="role" name="operatorId" lay-search>
                                            <option value="">请选择运营商</option>
                                            {{# layui.each(d.data,function(index,item){ }}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                            {{# }) }}
                                        </select>
                                    </script>
                                </div>
                                <div class="layui-input-inline">
                                    <input type="text" name="queryString" autocomplete="off" placeholder="请输入手机号/姓名"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn" lay-submit lay-filter="search-memberList">搜索</button>
                                <a href="javascript:;" class="layui-btn layui-btn-normal" lay-submit
                                   lay-filter="LAY-exportMember">导出数据</a>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="flex-1 over-auto">
                    <div class="layui-table" id="table-member" lay-filter="memberList"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    layui.use(['member/member','table', 'form'], function () {
        var $ = layui.$,
            form = layui.form,
            member = layui.admin.member;

        $(function () {
            var col = [{type: 'numbers', title: '序号', width: 60}
                , {field: 'name', title: '姓名'}
                , {field: 'mobile', title: '手机号'}
                , {field: 'sexTitle', title: '性别'}
                , {field: 'walletAmount', title: '账户余额'}]
            form.render();
            member.tableData('table-member','/member-manage/index/users',{},col)

            form.on('submit(search-memberList)', function (obj) {
                member.tableData('table-member','/member-manage/index/users',obj.field,col)
            });

            member.memberExport()

        })
    });
</script>