<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/setting/organization.css?v={{ layui.admin.v }}-1" media="all">
    <link rel="stylesheet" href="{{ layui.setter.base }}style/plugcss/zTreeStyle.css?v={{ layui.admin.v }}-1" media="all">
</script>

<title>园区管理</title>
<div class="layui-fluid layui-border-box full-height organization park">
    <div class="layui-row layui-col-space10 full-height">
        <div class="layui-col-xs5 layui-col-md4 layui-col-lg4 full-height">
            <div class="layui-card full-height">
                <div class="layui-card-body layui-clear full-height">
                    <div class="fixed-card-top">
                        <!--<div class="layui-form-item relative_">-->
                            <!--<label class="layui-icon layui-icon-search icon-search"></label>-->
                            <!--<input type="text" id="globalKey" autocomplete="off" placeholder="请输入关键字" class="layui-input layui-input-search">-->
                            <!--<label class="search" id="globalSearch">搜索</label>-->
                            <!--<ul class="search-result">-->
                                <!--&lt;!&ndash;搜索结果&ndash;&gt;-->
                            <!--</ul>-->
                        <!--</div>-->
                        <div class="layui-form-item layui-btn-group layui-col-xs12">
                            <button class="layui-btn layui-btn-sm layui-btn-primary layui-col-xs6" id="import_park">导入</button>
                            <script type="text/html" template>
                                <a href="{{layui.setter.baseUrl}}/site/park/export-excel" class="layui-btn layui-btn-sm layui-btn-primary layui-col-xs6" id="export_park">导出</a>
                            </script>
                        </div>
                        <button class="layui-btn layui-btn-sm layui-col-xs12" id="addParent">添加一级</button>
                    </div>

                    <div class="full-height" style="padding-top: 80px;">
                        <div class="full-height" style="overflow: auto;">
                            <!--组织架构树-->
                            <ul class="ztree layui-border-box" id="parkTree"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs7 layui-col-md8 layui-col-lg8 full-height">
            <div class="layui-card layui-form full-height">
                <div class="layui-card-body panel-card deptName">
                    <span id="levelname"></span>
                    <!--<a href="javascript:;" class="layui-btn layui-btn-sm layui-btn-primary edit-show" id="park_editname">编辑</a>-->
                    <!--<a href="#" class="layui-btn layui-btn-sm layui-btn-warm">部门权限管理</a>-->
                    <!--<div class="editname">-->
                        <!--<input type="text" id="deptname" autocomplete="off" placeholder="请输入部门名称" class="layui-input">-->
                    <!--</div>-->

                    <div class="title">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-xjbm"></use>
                        </svg>
                        下级部门
                        <!--<div class="layui-input-inline relative_ pull-right" style="margin-top: -2px;">-->
                            <!--<label class="layui-icon layui-icon-search icon-search" style="top: 4px;"></label>-->
                            <!--<input type="text" id="queryMember" autocomplete="off" placeholder="请输入关键字" class="layui-input layui-input-search" style="width:250px;height: 30px;">-->
                            <!--<label class="search" style="padding: 4px 15px;line-height: 20px;height: 30px;" id="searchMember">搜索</label>-->
                        <!--</div>-->
                    </div>
                    <div class="handle layui-clear">
                        <!--<a href="javascript:;" class="layui-btn layui-btn-sm addChild">添加</a>-->
                        <!--<a href="javascript:;" class="layui-btn layui-btn-sm layui-btn-primary" id="parkSort">调整排序</a>-->
                        <a href="javascript:;" class="layui-btn layui-btn-sm layui-btn-primary" lay-submit lay-filter="LAY-delete-child">批量删除</a>
                    </div>
                </div>
                <div class="layui-card-body full-height" style="padding-top: 120px;">
                    <div class="panel-card full-height dept over-auto">
                        <div class="panel-body">
                            <!--部门列表-->
                            <div class="option-tips">上下拖动来调整部门顺序，记得保存哦<a href="javascript:;" id="saveSort">保存</a><a href="javascript:;" id="cancelSort">取消</a></div>
                            <ul class="sortable" id="parkSortable">

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="option">
    <a class="layui-btn layui-btn-xs" lay-event="toTop">置顶</a>
</script>

<!--<script type="text/html" id="switchTpl">
    &lt;!&ndash; 这里的 checked 的状态只是演示 &ndash;&gt;
    <input type="checkbox" name="isTop" id="{{d.id}}" value="{{d.sort}}" lay-skin="switch" lay-text="是|否" lay-filter="toTop" {{ d.sort > 0 ? 'checked' : '' }}>
</script>-->
<script>
    layui.use('setting/park', layui.factory('setting/park'));
</script>