.role{
  .role-item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    .icon{
      margin-left: 8px;
    }
    &.active {
      background: #f7f8fa;
    }
  }
  .item {
    .icon{
      margin-left: 8px;
    }
  }

  .edit {
    cursor: pointer;
  }

  .move {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .move .layui-icon {
    width: 60px;
    border: 1px solid #999;
  }

  .layui-form-item .text {
    text-align: center;
  }

  .layui-form-item.btn-w {
    text-align: center;
  }

  .new-department {
    padding: 0 10px;
  }

  .no-department {
    padding: 10px;
    text-align: center;
  }

  /*cfr*/
  .department-list{
    .item {
      border-bottom: 1px solid #e6e6e6;
      .delete {
        cursor: pointer;
      }
    }
  }

  .department-list .item, .module-list .item {
    padding: 10px;
  }

  .role-list{
    li {
      padding: 6px;
      line-height: 30px;
      &:hover .icon-btn-box {
        display: block;
      }
    }
    input {
      width: 78%;
      line-height: 26px;
      padding: 0 10px;
    }

    .icon-btn-box {
      padding-left: 6px;
      line-height: 28px;
      display: none;
    }
  }

  .rolename {
    margin-bottom: 10px;
  }

  .mobile {
    width: 377px;
    height: 609px;
    padding-bottom: 40px;
    background: #EFEFF4;
    border: 1px solid #EFEFF4;
    box-sizing: border-box;
    .header{
      img{
        width: 100%;
      }
      .banner{
        width: 351px;
        margin-bottom: 10px;
      }
    }
    .card-box{
      width: 352px;
      margin: 0 auto;
      background: #fff;
      border-radius: 4px;
      margin-bottom: 10px;
    }
    .copyright {
      width: 100%;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.1);
      position: absolute;
      left: 0;
      bottom: 10px;
    }
    .remark{
      width: 70px;
      color: #fff;
      font-size: 12px;
      line-height: 20px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      background-color: #FF9800;
      text-align: center;
      position: absolute;
      top: 10px;
      right: 0;
    }
  }
  .module-item{
    width: 88px;
    height: 88px;
    padding: 20px 0;
    border-bottom: 1px solid #f8f8f8;
    position: relative;
    float: left;
    .icon-block{
      width: 30px;
      height: 30px;
      margin: 0 auto 6px;
      border-radius: 50%;
      .icon{
        margin-top: 7px;
        color: #fff;
      }
    }
    .operation {
      position: absolute;
      top: 10px;
      right: 14px;
      width: 16px;
      height: 16px;
      font-size: 26px;
      border-radius: 50%;
      color: #fff;
      line-height: 12px;
      cursor: pointer;
      display: none;
    }
    .operation.plus {
      background: #0fcfbb;
    }

    .operation.reduce {
      background: #f00;
    }
  }

  .edit-content .content-right,.edit-content .submit-btn,.edit-content .module-item .operation{
    display: block;
  }
  .submit-btn,.edit-content #edit_module{
    display: none;
  }

  .content-right{
    margin-left: 400px;
    height: 609px;
    display: none;
    .title {
      padding: 4px 10px;
      background: #EFEFF4;
    }
    .module-title {
      font-weight: bold;
      padding: 10px 0;
      color: #333;
      width: 100%;
    }
    .module-item {
      width: 80px;
      height: 80px;
      padding: 15px 0;
      margin-right: 15px;
      margin-bottom: 10px;
      border: 1px solid #e6e6e6;
      .operation{
        top: -8px;
        right: -8px;
      }
    }
  }
  .btn-container {
    margin-top: 15px;
  }
  #add_role{
    margin: 10px 0 15px;
  }
}
