.wechat .search_box {
  width: 100%;
}
.wechat .search_box .layui-input-inline {
  width: 25%;
}
.wechat .layui-table-body table {
  width: 100%;
}
.wechat .layui-table-body table tr {
  width: 100%;
}
#add_modal {
  padding: 15px;
  box-sizing: border-box;
}
#add_modal .layui-inline {
  margin-bottom: 12px;
  width: 100%;
}
#add_modal .textArea .layui-form-label {
  height: 100px;
  line-height: 70px;
}
.wechat_detail {
  height: auto;
  overflow: hidden;
}
.wechat_detail .public_title > i {
  border-left: 2px solid #06ccc5;
  border-right: 2px solid #06ccc5;
  margin-right: 6px;
}
.wechat_detail .public_title > span {
  font-size: 12px;
  color: #999;
}
.wechat_detail .modal_mess .layui-container {
  width: 100%;
  padding: 0;
}
.wechat_detail .modal_mess .layui-container .layui-inline:nth-child(2n-1) {
  padding: 4px 40px 4px 10px;
}
.wechat_detail .modal_mess .layui-container .layui-inline:nth-child(2n) {
  padding: 4px 10px 4px 40px;
}
.wechat_detail .modal_mess .layui-tab-card {
  position: relative;
  box-shadow: none;
  margin-top: 15px;
  min-width: 520px;
}
.wechat_detail .modal_mess .layui-tab-card:first-child {
  margin-top: 0px;
}
.wechat_detail .modal_mess .layui-tab-card .card_empty {
  position: absolute;
  top: 0;
  right: 10px;
  color: #999;
  font-size: 14px;
  cursor: pointer;
}
.wechat_detail .modal_mess .layui-tab-card.card_functiuon {
  border-bottom: none;
  border-right: none;
  border-left: none;
  padding: 6px 15px;
  height: auto;
  overflow: hidden;
  margin-top: 0;
}
.wechat_detail .modal_mess .layui-tab-card.card_functiuon > button {
  float: right;
  margin-right: 15px;
}
.wechat_detail .modal_mess .layui-tab-card > ul {
  z-index: 99;
  width: 120px;
  height: auto;
  overflow: hidden;
  border: none;
}
.wechat_detail .modal_mess .layui-tab-card > ul > li:last-of-type {
  border-bottom: none;
}
.wechat_detail .modal_mess .layui-tab-card > ul > li {
  display: block;
  border-bottom: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  background: #FBFBFB;
  box-sizing: border-box;
  line-height: 69px;
  margin-right: 0;
}
.wechat_detail .modal_mess .layui-tab-card > ul > li.layui-this {
  margin-right: -2px;
}
.wechat_detail .modal_mess .layui-tab-card .layui-tab-content {
  min-width: 520px;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 120px;
  padding-bottom: 0px;
}
.wechat_detail .modal_mess .layui-tab-card .layui-tab-content .layui-form-label {
  width: 150px;
  text-align: left;
  border: none;
}
.wechat_detail .modal_mess .layui-tab-card .layui-tab-content .layui-input-block {
  margin-left: 150px;
}
.wechat_detail .modal_mess .layui-tab-card .layui-tab-content .imgName {
  display: inline-block;
  width: 120px;
  line-height: 14px;
}
.wechat_detail .modal_mess .layui-tab.function {
  padding: 60px 0;
  width: 100%;
}
.wechat_detail .layui-tab-content .layui-form-pane {
  height: auto;
  overflow: hidden;
  padding: 8px 0;
  /*.layui-inline{
      width:40%;
      margin-right: 5%;
      margin-top:15px;
      img{
        width:100%;
      }
    }*/
}
.wechat_detail .banner_list {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.wechat_detail .banner_list > .layui-inline {
  width: 50%;
  float: left;
}
.wechat_detail .banner_list > .layui-inline:nth-child(2n-1) {
  padding-right: 40px;
}
.wechat_detail .banner_list > .layui-inline:nth-child(2n) {
  padding-left: 40px;
}
.wechat_detail .banner_list > .layui-inline img {
  width: 50%;
}
