<title>设备列表</title>
<div class="layui-fluid full-height role">
    <div class="layui-row full-height">
        <div class="layui-card layui-border-box full-height flex flex-v">
            <div class="layui-card-header">设备列表</div>
            <div class="layui-card-body flex-1 flex">
                <div class="flex-1 over-auto">
                    <fieldset class="layui-elem-field site-demo-button">
                        <legend>搜索条件</legend>
                        <div class="layui-form">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <script type="text/html" template
                                                lay-url="{{layui.setter.baseUrl}}/auth/operators?deviceType=1"
                                                lay-done="{{layui.form.render()}}">
                                            <select class="role" name="operatorId" lay-search>
                                                <option value="">请选择运营商</option>
                                                {{# layui.each(d.data,function(index,item){ }}
                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                                {{# }) }}
                                            </select>
                                        </script>
                                    </div>
                                    <div class="layui-input-inline">
                                        <select class="role" name="status" lay-search>
                                            <option value="">请选择设备状态</option>
                                            <option value="0">未激活</option>
                                            <option value="1">已激活</option>
                                            <option value="2">已停用</option>
                                        </select>
                                    </div>
                                    <div class="layui-input-inline">
                                        <input type="text" name="deviceNo" autocomplete="off" placeholder="请输入设备编号"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <button class="layui-btn" lay-submit lay-filter="search-device-washer">搜索</button>
                                    <a href="javascript:;" class="layui-btn layui-btn-normal" lay-submit
                                       lay-filter="LAY-exportWasherExcel">导出Excel</a>
                                    <a href="javascript:;" class="layui-btn layui-btn-normal" lay-submit
                                       lay-filter="LAY-exportWasherTxt">导出txt</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="m-b-10 btn-bar">
                        <script type="text/html" template>
                        <button class="layui-btn layui-btn-sm" id="washer-on">启用</button>
                        <button class="layui-btn layui-btn-sm layui-btn-danger" id="washer-off">停用</button>
                        <button class="layui-btn layui-btn-sm layui-btn-primary" id="washer-location">位置管理</button>

                        {{#if(JSON.stringify(layui.data('userNode').menu).indexOf(JSON.stringify({rule: 'device-manage/devices-apply', method: 'post'})) > 0){ }}
                        <button class="layui-btn layui-btn-sm layui-btn-primary" id="washer-apply">设备申请</button>
                        {{# }else{ }}
                        <button class="layui-btn layui-btn-sm layui-btn-primary layui-btn-disabled" title="没有该权限，若需要请联系管理员">设备申请</button>
                        {{# } }}

                        {{#if(JSON.stringify(layui.data('userNode').menu).indexOf(JSON.stringify({rule: 'device-manage/check-devices-active', method: 'put'})) > 0){ }}
                        <button class="layui-btn layui-btn-sm layui-btn-primary" id="washer-check">设备检查</button>
                        {{# }else{ }}
                        <button class="layui-btn layui-btn-sm layui-btn-primary layui-btn-disabled" title="没有该权限，若需要请联系管理员">设备检查</button>
                        {{# } }}

                        {{#if(JSON.stringify(layui.data('userNode').menu).indexOf(JSON.stringify({rule: 'device-manage/devices-upgrade', method: 'put'})) > 0){ }}
                        <button class="layui-btn layui-btn-sm layui-btn-primary" id="washer-refresh">远程版本更新</button>
                        {{# }else{ }}
                        <button class="layui-btn layui-btn-sm layui-btn-primary layui-btn-disabled" title="没有该权限，若需要请联系管理员">远程版本更新</button>
                        {{# } }}

                        {{#if(JSON.stringify(layui.data('userNode').menu).indexOf(JSON.stringify({rule: 'device-manage/devices-version', method: 'get'})) > 0){ }}
                        <button class="layui-btn layui-btn-sm layui-btn-primary" id="washer-query">远程版本查询</button>
                        {{# }else{ }}
                        <button class="layui-btn layui-btn-sm layui-btn-primary layui-btn-disabled" title="没有该权限，若需要请联系管理员">远程版本查询</button>
                        {{# } }}

                        <button class="layui-btn layui-btn-sm layui-btn-primary" id="washer-setting">参数设置</button>

                        {{#if(JSON.stringify(layui.data('userNode').menu).indexOf(JSON.stringify({rule: "device-manage/devices/mode", method: "put"})) > 0){ }}
                        <button class="layui-btn layui-btn-sm layui-btn-primary" id="washer-factory">工厂模式</button>
                        <button class="layui-btn layui-btn-sm layui-btn-primary" id="washer-work">工作模式</button>
                        {{# }else{ }}
                        <button class="layui-btn layui-btn-sm layui-btn-primary layui-btn-disabled" title="没有该权限，若需要请联系管理员">工厂模式</button>
                        <button class="layui-btn layui-btn-sm layui-btn-primary layui-btn-disabled" title="没有该权限，若需要请联系管理员">工作模式</button>
                        {{# } }}

                        <button class="layui-btn layui-btn-sm layui-btn-primary" id="washer-import">上传固件</button>
                        </script>
                        <!--<button class="layui-btn layui-btn-primary" id="addUser" lay-href="/device/washer/deviceList/deviceSetting">参数设置</button>-->
                    </div>

                    <div class="layui-table" id="device-washer" lay-filter="deviceWasher"></div>
                </div>

            </div>
        </div>

    </div>
</div>
<script type="text/html" id="washerOption">
    <a class="layui-btn layui-btn-xs" lay-event="setting">参数设置</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">详情</a>
    {{#  if(d.status === 0){ }}
    <a class="layui-btn layui-btn-xs" lay-event="alive">激活</a>
    {{#  } }}
</script>

<script>
    layui.use(['device/device', 'form', 'table','zTree'], function () {
        var $ = layui.$,
            form = layui.form,
            admin = layui.admin,
            view = layui.view,
            table = layui.table,
            setter = layui.setter,
            device = layui.admin.device;

        $(function () {
            var globalQuery = {};
            form.render();
            device.tableData('device-washer','#washerOption', {}, 1);

            form.on('submit(search-device-washer)', function (obj) {
                globalQuery = obj.field
                device.tableData('device-washer','#washerOption', globalQuery, 1);
            });

            $(document).off('click', '#washer-on')
            $(document).on('click', '#washer-on', function () {
                var query = {};
                var deviceList = device.getCheckList('device-washer');
                query.deviceList = deviceList;
                query.deviceType = 1;
                device.deviceSwith('/device-manage/devices/on', query, '确定启用设备？', function () {
                    device.tableData('device-washer','#washerOption', globalQuery, 1);
                })
            })

            $(document).off('click', '#washer-off')
            $(document).on('click', '#washer-off', function () {
                var query = {};
                var deviceList = device.getCheckList('device-washer');
                query.deviceList = deviceList;
                query.deviceType = 1;
                device.deviceSwith('/device-manage/devices/off', query, '确定停用设备？', function () {
                    device.tableData('device-washer','#washerOption', globalQuery, 1);
                })
            })

            $(document).off('click', '#washer-setting')
            $(document).on('click', '#washer-setting', function () {
                var deviceList = device.getCheckList('device-washer');
                if (deviceList.length > 0) {
                    layui.data('temporary', {key: 'temporary', value: deviceList})
                    location.hash = "/device/washer/deviceList/setting"
                } else {
                    layer.alert('请选择要操作的设备！', {icon: 5});
                }
            })

            $(document).off('click', '#washer-check')
            $(document).on('click', '#washer-check', function () {
                var idList = device.getCheckList('device-washer');
                if (idList.length > 0) {
                    device.deviceCheck({idList:idList},function(){
                        device.tableData('device-washer','#washerOption', globalQuery, 1);
                    })
                } else {
                    layer.alert('请选择要操作的设备！', {icon: 5});
                }
            })

            $(document).off('click', '#washer-refresh')
            $(document).on('click', '#washer-refresh', function () {
                var idList = device.getCheckList('device-washer');
                if (idList.length > 0) {
                    device.deviceRefresh({idList:idList},function(){
                        device.tableData('device-washer','#washerOption', globalQuery, 1);
                    })
                } else {
                    layer.alert('请选择要操作的设备！', {icon: 5});
                }
            })

            $(document).off('click', '#washer-query')
            $(document).on('click', '#washer-query', function () {
                var idList = device.getCheckList('device-washer');
                if (idList.length > 0) {
                        device.deviceQuery({idList:idList},function(){
                        device.tableData('device-washer','#washerOption', globalQuery, 1);
                    })
                } else {
                    layer.alert('请选择要操作的设备！', {icon: 5});
                }
            })

            $(document).off('click', '#washer-apply')
            $(document).on('click', '#washer-apply', function () {
                admin.popupCenter({
                    id: 'LAY_deviceApply'
                    , title: '申请设备'
                    , area: ['400px', '220px']
                    , success: function () {
                        view(this.id).render('device/washer/deviceList/deviceApply');
                    }
                });
            })
            $(document).off('click', '#washer-location')
            $(document).on('click', '#washer-location', function () {
                var deviceList = device.getCheckList('device-washer');
                if (deviceList.length > 0) {
                    admin.popupCenter({
                        id: 'LAY_deviceLocation'
                        , title: '位置管理'
                        , area: ['400px', '600px']
                        , success: function () {
                            view(this.id).render('device/common/location');
                        }
                    });
                } else {
                    layer.alert('请选择要操作的设备！', {icon: 5});
                }
            })

            form.on('submit(LAY-deviceApply)', function (obj) {
                obj.field.deviceType = 1
                if (JSON.stringify(globalQuery) != '{}') {
                    obj.field.operatorId = globalQuery.operatorId
                }
                device.deviceApply(obj.field, function () {
                    device.tableData('device-washer','#washerOption', globalQuery, 1);
                });
            })


            table.on('tool(deviceWasher)', function (obj) {
                var data = obj.data;
                if (obj.event === 'setting') {
                    layui.data('temporary', {key: 'temporary', value: [data.id]});
                    location.hash = "/device/washer/deviceList/setting";
                }else if(obj.event === 'detail'){
                    layui.data('temporary', {key: 'deviceId', value: data.id});
                    location.hash = "/device/washer/deviceList/detail";
                }else{
                    device.deviceAlive(data.id,function(){
                        device.tableData('device-washer','#washerOption', globalQuery, 1);
                    })
                }
            });

            //位置设置
            $(document).off('click', '#set-location')
            $(document).on('click', '#set-location', function () {
                var siteId = layui.data('temporary').siteId;
                var deviceList = device.getCheckList('device-washer');
                device.setLocation({siteId:siteId,deviceList:deviceList},function(){
                    device.tableData('device-washer','#washerOption', globalQuery, 1);
                })
            })

            //模式设置
            $(document).off('click', '#washer-factory')
            $(document).on('click', '#washer-factory', function () {
                var deviceList = device.getCheckList('device-washer');
                if (deviceList.length > 0) {
                    device.setMode({idList:deviceList,mode:0});
                } else {
                    layer.alert('请选择要操作的设备！', {icon: 5});
                }
            })

            //模式设置
            $(document).off('click', '#washer-work')
            $(document).on('click', '#washer-work', function () {
                var deviceList = device.getCheckList('device-washer');
                if (deviceList.length > 0) {
                    device.setMode({idList:deviceList,mode:1});
                } else {
                    layer.alert('请选择要操作的设备！', {icon: 5});
                }
            })

            //上传固件
            device.importDevice('#washer-import',1)

            device.deviceExport('submit(LAY-exportWasherExcel)','/device-manage/devices-export',1);
            device.deviceExport('submit(LAY-exportWasherTxt)','/device-manage/devices-export-txt',1);

            device.cancel()
        })
    });
</script>