.pay .search {
  padding: 8px 15px;
  height: 38px;
  line-height: 20px;
  cursor: pointer;
  border: 1px solid #c9c9c9;
  background-color: #FBFBFB;
  border-radius: 0 2px 2px 0;
  position: absolute;
  right: 0;
  top: 0;
}
.pay .icon-search {
  position: absolute;
  top: 8px;
  left: 10px;
}
.pay .layui-input-search {
  padding-left: 30px;
}
.pay .list-wrapper li {
  padding: 6px;
  line-height: 30px;
}
.pay .list-wrapper li.active {
  background: #f7f8fa;
}
.pay .way-card {
  height: 120px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}
.pay .way-card .icon {
  width: 40px;
  height: 40px;
}
.pay .way-card .ft-green {
  color: #09bb07;
}
.pay .way-card .layui-form-checkbox {
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 12px;
  right: 12px;
}
.pay .way-card .layui-form-checkbox[lay-skin=primary] i {
  border-radius: 50%;
}
