<style>
    .device-setting .banner_img {
        width: 351px;
        height: 98px;
        margin-right: 10px;
        border-radius: 4px;
        border: 1px solid #e6e6e6;
    }

    .device-setting .layui-form-pane .not-pane-label {
        float: left;
        display: block;
        padding: 9px 15px;
        padding-left: 0;
        width: 80px;
        font-weight: 400;
        line-height: 20px;
    }

    .device-setting .layui-form-pane .layui-form-item[pane] .not-pane-inline {
        margin-left: 0;
        background: #FBFBFB;
    }

    .device-setting .layui-form-pane .layui-form-item[pane] .not-pane-inline .layui-form-mid {
        float: none;
        text-align: center;
    }

    .device-setting .layui-form-pane .layui-form-item[pane] .not-pane-inline .layui-input {
        border-radius: 4px;
    }

    .device-setting #discount-content .m-b-10:last-child {
        margin-bottom: 0 !important;
    }
</style>
<title>优惠活动</title>
<div class="layui-fluid full-height device-setting">
    <div class="layui-row full-height">
        <div class="layui-card full-height flex flex-v">
            <div class="layui-card-header">优惠活动新增</div>
            <div class="layui-card-body flex-1 over-auto">
                <div class="layui-form layui-form-pane full-height flex flex-v">
                    <div class="layui-clear flex-1">
                        <div class="layui-form-item">
                            <label class="layui-form-label">优惠名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" lay-verify="required"
                                       placeholder="请输入优惠名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">所属运营商</label>
                            <div class="layui-input-block">
                                <script type="text/html" template
                                        lay-url="{{layui.setter.baseUrl}}/auth/operators"
                                        lay-done="{{layui.form.render()}}">
                                    <select class="role" name="operatorId" lay-search>
                                        <option value="">请选择运营商</option>
                                        {{# layui.each(d.data,function(index,item){ }}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                        {{# }) }}
                                    </select>
                                </script>
                            </div>
                        </div>
                        <div class="layui-form-item" pane>
                            <label class="layui-form-label">账户类型</label>
                            <div class="layui-input-block">
                                <input type="checkbox" name="scope" value="2" title="账户钱包" lay-skin="primary"
                                       checked="">
                                <input type="checkbox" name="scope" value="1" title="IC卡" lay-skin="primary">
                            </div>
                        </div>
                        <div class="layui-form-item" pane>
                            <label class="layui-form-label">优惠类型</label>
                            <div class="layui-input-block">
                                <input type="radio" name="" value="充值优惠" title="充值优惠" checked="">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">优惠时间</label>
                            <div class="layui-input-block">
                                <input type="text" name="time" id="discount-time" value="" placeholder="请选择优惠时段"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" pane>
                            <label class="layui-form-label">优惠内容</label>
                            <div class="layui-input-block block-blank" id="discount-content">
                                <div class="layui-clear m-b-10">
                                    <div class="layui-input-inline not-pane-inline">
                                        <p class="layui-form-mid">满</p>
                                    </div>
                                    <div class="layui-input-inline not-pane-inline">
                                        <p class="layui-form-mid">赠</p>
                                    </div>
                                </div>
                                <div class="layui-clear m-b-10 coupon_add">
                                    <div class="layui-input-inline not-pane-inline">
                                        <input type="text" name="" lay-verify="required|number" placeholder="请输入充值金额（元）"
                                               autocomplete="off"
                                               class="layui-input recharge_amount">
                                    </div>
                                    <div class="layui-input-inline not-pane-inline">
                                        <input type="text" name="" lay-verify="required|number" placeholder="请输入赠送金额（元）"
                                               autocomplete="off"
                                               class="layui-input free_amount">
                                    </div>
                                    <button class="layui-btn discount-add">添加</button>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" pane>
                            <label class="layui-form-label">备注</label>
                            <div class="layui-input-block">
                                <textarea name="remark" placeholder="请输入备注内容" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item" pane="">
                            <label class="layui-form-label">是否开启活动</label>
                            <div class="layui-input-block">
                                <input type="checkbox" name="status"
                                       lay-skin="switch" lay-text="开启|关闭">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item p-t-10">
                        <button class="layui-btn" lay-submit lay-filter="addDiscount-save">保存</button>
                        <button class="layui-btn layui-btn-primary" id="back">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['operation/operation', 'form', 'laydate'], function () {
        var $ = layui.$,
            form = layui.form,
            laydate = layui.laydate,
            operation = layui.admin.operation;

        $(function () {
            laydate.render({
                elem: '#discount-time'
                , type: 'datetime'
                , range: '至'
            });

            form.render();
            operation.uploadImg();

            form.on('submit(addDiscount-save)', function (obj) {
                var time = obj.field.time.split('至');
                obj.field.beginTime = time[0];
                obj.field.endTime = time[1];
                delete obj.field.time;

                if (obj.field.status === 'on') {
                    obj.field.status = 1
                } else {
                    obj.field.status = 0
                }

                var coupon = [];
                $('.coupon_add').each(function () {
                    coupon.push({
                        recharge_amount: $(this).find('.recharge_amount').val(),
                        free_amount: $(this).find('.free_amount').val(),
                    })
                })
                obj.field.coupon = coupon;
                console.log(obj.field)
                operation.formSubmit('/operate-manage/activity/list', 'post', obj.field)
            })

            $(document).off('click', '.discount-add')
            $(document).on('click', '.discount-add', function () {
                if ($('.coupon_add').length < 5) {
                    var html = '<div class="layui-clear m-b-10 coupon_add">' +
                        '<div class="layui-input-inline not-pane-inline">' +
                        '<input type="text" name="" lay-verify="required|number" placeholder="请输入充值金额" autocomplete="off" class="layui-input recharge_amount">' +
                        '</div>' +
                        '<div class="layui-input-inline not-pane-inline">' +
                        '<input type="text" name="" lay-verify="required|number" placeholder="请输入赠送金额" autocomplete="off" class="layui-input free_amount">' +
                        '</div>' +
                        '<button class="layui-btn layui-btn-danger discount-delete">删除</button></div>'
                    $('#discount-content').append(html);
                } else {
                    layer.alert('优惠活动不能超过5条', {icon: 5})
                }
            })

            $(document).off('click', '.discount-delete')
            $(document).on('click', '.discount-delete', function () {
                $(this).parent().remove();
            })

            $(document).off('click', '#back')
            $(document).on('click', '#back', function () {
                window.history.go(-1);
            })
        })
    });

</script>