<!--数据管理没写 -->
<style>
    .layui-input-inline {
        margin-bottom: 12px;
    }

    .layui-form-item {
        margin-bottom: 3px;
    }
</style>
<title>预约订单</title>
<div class="layui-fluid full-height">
    <div class="layui-card full-height over-auto">
        <div class="layui-card-header">预约订单</div>
        <div class="layui-card-body">
            <fieldset class="layui-elem-field">
                <legend>搜索条件</legend>
                <div class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <!-- 下拉列表模板渲染  -->

                            <div class="layui-input-inline">
                                <select name="meal_type" id="second">
                                    <option value="" disabled selected>请选择餐次</option>
                                    <option value="2">中餐</option>
                                    <option value="3">晚餐</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="eat_type" id="">
                                    <option value="" disabled selected>请选择就餐方式</option>
                                    <option value="1">外卖</option>
                                    <option value="2">堂食</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <script type="text/html" template lay-url="{{layui.setter.baseUrl}}/system/site/campuses"
                                    lay-done="layui.data.done(d)">

                                    <select name="campus_id" id="campus" lay-filter="campus">
                                        <option value="" disabled selected>请选择校区</option>
                                        {{# layui.each(d.data, function(index, item){ }}
                                        <option value="{{item.id}}">{{item.name}}</option>
                                        {{# }); }}
                                    </select>
                                </script>
                            </div>
                            <div class="layui-input-inline">
                                <select name="canteen_id" id="canteen" lay-filter="canteen">
                                    <option value="" disabled selected>请选择食堂</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input time" id="subOrderdate" placeholder="请选择开始时间和结束时间">
                                <input type="hidden" name="start_time" id="subOrderStartTime" value="">
                                <input type="hidden" name="end_time" id="subOrderEndTime" value="">
                            </div>
                            <div class="layui-input-inline">
                                <button class="layui-btn" lay-submit lay-filter="search">查询</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <!-- 财务报表详情 -->
            <table class="layui-hide" id="subOrderTable" lay-filter="subOrderTable"></table>
        </div>
    </div>
</div>
<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
</script>

<script>
    layui.data.done = function (d) {
        layui.use(['admin', 'form', 'table', 'laydate'], function () {
            var $ = layui.$,
                admin = layui.admin,
                view = layui.view,
                setter = layui.setter,
                form = layui.form,
                table = layui.table,
                upload = layui.upload,
                laydate = layui.laydate;

            $(function () {

                form.render();
                laydate.render({
                    elem: '#subOrderdate',
                    type: 'date',
                    range: '-',
                    done: function (value, date, endDate) {
                        console.log(value);
                        var beginTime = value.split(' - ')[0];
                        var endTime = value.split(' - ')[1];
                        $('#subOrderStartTime').val(beginTime);
                        $('#subOrderEndTime').val(endTime);
                    }
                });

                var cols = [[ //表头
                    { field: 'repast_date', title: '时间' }
                    , { field: 'campus_name', title: '校区' }
                    , { field: 'eat_type_name', title: '就餐方式' }
                    , { field: 'canteen_name', title: '食堂' }
                    , { field: 'meal_type_name', title: '就餐类型' }
                    , { title: '操作', align: 'center', toolbar: '#toolbar', width: '10%' }
                ]];
                table.render(
                    {
                        elem: '#subOrderTable'
                        , url: setter.baseUrl + '/data/appointment-order'
                        , response: setter.responseTable
                        , page: setter.pageTable
                        , cols: cols
                    }
                );

                table.on('tool(subOrderTable)', function (obj) {
                    console.log(obj);
                    var layEvent = obj.event;
                    layui.data('serialize_str', {
                        key: 'id',
                        value: obj.data.serialize_str
                    });
                    if (layEvent === 'detail') {
                        window.location.hash = '#/order/data/subOrderDetail';
                    }
                })

                //获取食堂
                form.on('select(campus)', function (data) {
                    var campusId = data.value;
                    admin.req({
                        url: setter.baseUrl + '/system/site/canteens',
                        type: 'get',
                        data: { campusId: campusId },
                        done: function (res) {
                            var _html = '<option value="" disabled selected>请选择食堂</option>';
                            $.each(res.data, function (i, k) {
                                _html += '<option value="' + k.id + '">' + k.name + '</option>'
                            })
                            $('#canteen').html(_html)
                            form.render();
                        }
                    });
                });

                //点击搜索订单
                form.on('submit(search)', function (obj) {
                    console.log(obj);
                    table.reload('subOrderTable', {

                        url: setter.baseUrl + '/data/appointment-order',
                        response: setter.responseTable,
                        page: setter.pageTable,
                        cols: cols,
                        where: obj.field
                    });
                });
            });
        });
    }
</script>